[2014-05-17 07:47] fabiankirstein opened #1 "LuceneIndex "relativieren""
<a href="https://github.com/IvenZ"><img src="https://avatars.githubusercontent.com/u/1950407?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [IvenZ](https://github.com/IvenZ)**
_Thursday Nov 07, 2013 at 12:04 GMT_
_Originally opened as https://github.com/IvenZ/htwplus/issues/75_

---

Das Ding hat low-prio...
Dennoch wollte ichs mal aufschreiben und festhalten.

In unserer

[2014-05-17 07:47] fabiankirstein opened #2 "Control Center"
<a href="https://github.com/FabiApfelkern"><img src="https://avatars.githubusercontent.com/u/1488424?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [FabiApfelkern](https://github.com/FabiApfelkern)**
_Thursday Dec 26, 2013 at 19:24 GMT_
_Originally opened as https://github.com/IvenZ/htwplus/issues/126_

---

Ich war so frei eine Admin-Seite zu bauen. Es gibt jetzt einen St

[2014-05-17 07:47] fabiankirstein opened #3 "JavaScript Error in application.js"
<a href="https://github.com/FabiApfelkern"><img src="https://avatars.githubusercontent.com/u/1488424?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [FabiApfelkern](https://github.com/FabiApfelkern)**
_Saturday Jan 11, 2014 at 10:05 GMT_
_Originally opened as https://github.com/IvenZ/htwplus/issues/135_

---

Ich bekomme immer folgenden Error auf der JavaScript Konsole:

Ty

[2014-05-17 07:47] fabiankirstein opened #4 "Notification History"
<a href="https://github.com/IvenZ"><img src="https://avatars.githubusercontent.com/u/1950407?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [IvenZ](https://github.com/IvenZ)**
_Wednesday Jan 15, 2014 at 16:24 GMT_
_Originally opened as https://github.com/IvenZ/htwplus/issues/137_

---

Ein Useranliegen bestand darin, noch einmal eine kleine Übersicht über seine letzten Not

[2014-05-17 07:47] FabiApfelkern opened #5 "EasyAccess-Überlegungen für Gruppeninhalte"
<a href="https://github.com/IvenZ"><img src="https://avatars.githubusercontent.com/u/1950407?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [IvenZ](https://github.com/IvenZ)**
_Friday Jan 17, 2014 at 15:32 GMT_
_Originally opened as https://github.com/IvenZ/htwplus/issues/142_

----

Gruppen/Kurse lassen sich intern nicht gut strukturieren.
Übersicht geht schnell verloren.

[2014-05-17 07:47] fabiankirstein opened #6 "Sortierung Posts"
<a href="https://github.com/FabiApfelkern"><img src="https://avatars.githubusercontent.com/u/1488424?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [FabiApfelkern](https://github.com/FabiApfelkern)**
_Monday Jan 27, 2014 at 20:02 GMT_
_Originally opened as https://github.com/IvenZ/htwplus/issues/143_

---

Ich denke es wäre ganz praktisch wenn die Posts nicht nur nach ihre

[2014-05-17 07:47] fabiankirstein opened #7 "Migration auf Play 2.2.3"
<a href="https://github.com/FabiApfelkern"><img src="https://avatars.githubusercontent.com/u/1488424?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [FabiApfelkern](https://github.com/FabiApfelkern)**
_Saturday Feb 15, 2014 at 18:11 GMT_
_Originally opened as https://github.com/IvenZ/htwplus/issues/145_

---

Sollte dringend mal gemacht werden. Ich gehe das demnächst mal in

[2014-05-17 07:47] fabiankirstein opened #8 "DB Connection leak"
<a href="https://github.com/IvenZ"><img src="https://avatars.githubusercontent.com/u/1950407?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [IvenZ](https://github.com/IvenZ)**
_Wednesday Mar 05, 2014 at 17:26 GMT_
_Originally opened as https://github.com/IvenZ/htwplus/issues/149_

---

Uns ist jetzt das zweite Mal passiert, dass die DB zu viele offene Anfragen hat und Plus

[2014-05-17 07:47] fabiankirstein opened #9 "Name für Orga / Kernsoftware"
<a href="https://github.com/FabiApfelkern"><img src="https://avatars.githubusercontent.com/u/1488424?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [FabiApfelkern](https://github.com/FabiApfelkern)**
_Wednesday Apr 30, 2014 at 19:01 GMT_
_Originally opened as https://github.com/IvenZ/htwplus/issues/151_

---

Wir brauchen mal dringend einen allgemeineren Namen für unsere h

[2014-06-05 15:51] IvenZ opened #10 "E-Mail Notifications"
Mail rausschicken, wenn es eine neue Notifications gibt.
Wann, wie oft und bei welchen Events erst einmal offen.
Orientieren könnte man sich z.B an Trello.
Opt-In bzw. Opt-Out anbieten.

In einer weiteren Version lässt sich diese Einstellung verfeinern.

[2014-06-05 15:51] IvenZ opened #11 "E-Mail Service auf unserem Server"
Um ein paar offizielle Mail Adressen zu haben, sollten wir auf dem Live System ein EMail Service laufen lassen.

[2014-06-05 15:54] IvenZ opened #12 "Klickbare URLs in Posts"
URLs die in Posts oder Kommentaren geschrieben werden, sollten klickbar sein :)

[2014-06-05 16:01] #6 closed, assigned to nobody

[2014-06-05 16:01] #9 closed, assigned to nobody

[2014-06-05 16:02] #7 closed, assigned to nobody

[2014-06-05 16:03] #2 closed, assigned to nobody

[2014-06-05 16:38] IvenZ opened #14 "Eingeloggt bleiben"
Ziemlich nervig sich immer neu anzumelden :)

[2014-06-05 16:47] IvenZ opened #15 "Avatar selbst wählen"
Hatten das Thema ja schon auf dem Tisch.
Und haben festgestellt, dass es keine einfache Kiste ist.

Aber ich denke, dass das ein "must have" feature ist, was wir in irgendeiner Weise anbieten sollten.

Was mir spontan einfällt:
Bild mit fester Breite und Höhe, so wie das damals in Foren gehandhabt wurde.
Dann müssen wir uns über das resizen, oder den gewünschten Bildausschnitt keine Gedanken mache

[2014-06-05 16:53] IvenZ opened #16 "Broadcast Funktion für den Admin"
Viele Seiten benutzen change logs um zu zeigen, was das nächste release für features hat. Das ist bei uns ein bissel doof zu realisieren, da es ja eher weniger major releases gibt.

Eine Idee wäre eine mögliche Broadcast-Nachricht an alle Nutzer zu schreiben.
Diese taucht dann bei allen in den Notifications auf.

So können wir den Nutzern Nachrichten zukommen lassen, wenn das System neue Features

[2014-06-05 16:59] IvenZ opened #17 "Landing Page"
Wir brauchen eine coole Landing Page.

Sie sollte einfach und leicht gehalten sein, muss aber dennoch Informationen zeigen, was unsere Seite überhaupt kann oder hat.

Hierfür gerne mal die Kommunikationsdesigner befragen.

[2014-06-10 19:42] vanbernum opened #18 "Media Folder Path absolute"
Wie besprochen!

[2014-06-11 20:01] fabiankirstein opened #19 "Lizenz"
Wir sollten uns für eine Open Source Lizenz entscheiden. Tatsächlich ist nämlich keine Lizenz auch eine Lizenz. Das ganze ist garnicht so trivial. Wenn man zum Beispiel andere Software wie wir verwendet, kann das Einfluss auf die Lizenz haben unter der unsere Software steht. Verschafft euch doch bitte mal einen Überblick und dann reden wir nächste Woche mal drüber: http://choosealicense.com/licens

[2014-06-18 14:25] fabiankirstein opened #20 "Neues Optionsmenü"
Das kleine Optionsmenü neu machen!
Vielleicht mit neuen Icons: http://octicons.github.com/

[2014-06-18 14:28] FabiApfelkern opened #21 "Footer"
Neuer schicker, fetter Footer! In Grün. Und Breit.

[2014-06-19 17:23] #18 closed, assigned to fabiankirstein

[2014-06-28 09:12] fabiankirstein opened #24 "Media Refactoring"
Folgende Dinge stehen an:
- Media Model und Controller aufräumen
- Abstrahieren der Filesystem Operation in einer Extra Lib - am Besten mit Interface um eventuell das ganze mal gegen was anderes wie S3 austauschen zu können
- Orderunterstützung
- Verbesserung des File-Uploads
- ....

[2014-07-04 10:54] vanbernum opened #26 "Notification Refactoring"
Neukonzeptionierung des Notificationsystem:
- Konzept-Recherche
- Notificationtype - ObjectID ersetzen ("notificateable")
- Push an Clients - HTTP Sockets o.a.
- User configuration - selbst bestimmen, über was man Notifications bekommen will (einfach!)
- #4
- #10 (ebenfalls konfigurierbar - Intervall...)
- #11

[2014-07-13 15:10] FabiApfelkern opened #27 "Play mit IntelliJ"
Hat jemand schon alle Fehler in IntelliJ wegbekommen. Ich schaff es gerade einfach nicht mehr!

[2014-08-07 08:20] #19 closed, assigned to fabiankirstein

[2014-08-07 16:47] #14 closed, assigned to IvenZ

[2014-08-12 15:07] De3pBlu3 opened #29 "Frontend Features"
_This issue should be a collection of frontend things and little bugs or feature ideas._

## Global
* ~~update to new Bootstrap version~~
* used icon classes out of config file for customizing frontend (LESS necessary?!)
* frontend valid to HTML5? + HTML5 features

## Special
* truncated group header are trimmed vertically
* ~~alternative favicon when notification was received~~
* restyle group in

[2014-08-15 12:44] #20 closed, assigned to De3pBlu3

[2014-08-15 12:59] #3 closed, assigned to nobody

[2014-09-15 13:39] #12 closed, assigned to De3pBlu3

[2014-09-15 15:47] IvenZ opened #32 "comment limit for single posts"

[2014-09-23 11:50] ryad-lindner opened #33 "LDAP Refactoring"
Verbesserung des LDAP Connectors, mit Konfigurationsmöglichkeiten um sämtliche HTW Accounts abzufragen.

[2014-09-26 09:41] ryad-lindner opened #34 "Play 2.4 Upgrade: @Transaction"
Zum Testen, ob @Transaction in Play 2.4.x gefixt ist.
Siehe: https://github.com/playframework/playframework/pull/2042

[2014-10-01 11:08] fabiankirstein opened #35 "Ansicht Gruppe bearbeiten fehlerhaft"
Die Buttons fallen etwas aus dem Rahmen.

![unbenannt](https://cloud.githubusercontent.com/assets/1488424/4474066/290350d0-495b-11e4-8d93-a2ab5555adb7.PNG)

[2014-10-02 19:22] #34 closed, assigned to nobody

[2014-10-03 12:34] #35 closed, assigned to De3pBlu3

[2014-10-03 12:34] #33 closed, assigned to ryad-eldajani

[2014-10-03 12:35] #26 closed, assigned to ryad-eldajani

[2014-10-03 12:40] #8 closed, assigned to nobody

[2014-10-03 12:42] #1 closed, assigned to nobody

[2014-10-07 09:26] IvenZ opened #38 "Notification Target"
Wenn die Notifications für eine Gruppe oder den Stream etwas mehr werden, wird es bissel unübersichtlich, wo denn nun welcher Kommentar hinzugekommen ist.

Können wir die Target URL noch mal so ändern, dass sie mit klick auf die Notification direkt auf den Post verlinkt? (../post/<ID>)

Wär subba :)

[2014-10-14 10:02] #4 closed, assigned to ryad-eldajani

[2014-10-15 07:19] #32 closed, assigned to IvenZ

[2014-10-15 07:21] IvenZ opened #42 "post/comment text length"
Mal schauen ob bei zu langem Text irgendwelche Fehler auftreten.

[2014-10-15 11:15] #10 closed, assigned to ryad-eldajani

[2014-10-15 11:16] #11 closed, assigned to ryad-eldajani

[2014-10-15 11:20] IvenZ opened #43 "EMail Design"
Da die Notifications nun auch er Mail rausgehen, sollten wir uns überlegen, wie wir diese Mails designen.
Deshalb möchte ich mal ein paar Vorschläge sammeln.

Ich bin für ganz einfachen Standardtext ohne groß HTML einzubauen.
Das geht schnell und reicht vielleicht auch erst mal?!

Was wichtig wäre ist der Inhalt.
Posts/Kommentare/Einladungen etc. sollten auch richtig verlinkt sein.

[2014-10-15 12:42] IvenZ opened #44 "read/unread notifications"
Ich möchte den Inhalt (und die Lösung) aus Post 7127 (https://plus.f4.htw-berlin.de/post/7127) hier noch mal festhalten und nen konkretes issue erstellen.

@ryad-eldajani
Bitte die Notification-Anzeige so umbauen, dass
1. Im Dropdown nur noch ungelesene Notifications (max. 10 Stück, zeitlich absteigend) angezeigt werden.
2. Auf der History Seite zuerst alle ungelesenen (absteigend) und dann alle g

[2014-10-20 08:58] #44 closed, assigned to ryad-eldajani

[2014-10-22 13:33] IvenZ opened #47 "Notification für nicht mehr relevante Einträge"
Bei den Medien habe ich/wir heute festgestellt, dass für jede hochgeladene Datei ein Notification erstellt wird. Soweit so gut ^^

Allerdings wurden Dateien daraufhin wieder gelöscht was die Notifications überflüssig macht.
(Man wird auf 5 neue Dateien hingewiesen, am Ende ist vielleicht aber nur eine noch aktuell)

Wie ist das aktuelle Verfahren mit den Notifications bei gelöschten Sachen?

Ich d

[2014-10-22 13:41] IvenZ opened #48 "Gruppe verlassen - Bestätigung"
Das Verlassen einer Gruppe wird ohne vorherige Abfrage (bist du sicher?) durchgeführt.
Diese sollten wir noch einbinden.

[2014-10-24 11:16] IvenZ opened #49 "Kommentare zusammenfassen (Notification)"
Alle Kommentare zu einem Post bitte als eine Notification zusammenfassen
Und Link auf den Post.

Es gibt praktisch nur eine Notification pro Post. Diese wird bei neuen Kommentaren auf unread gesetzt und das Datum geupdatet.

[2014-10-24 11:19] IvenZ opened #50 "Verlinkung von Notifications"
- Medien
- Freunde
- Einladung Gruppen/Kurse
- Posts (Kommentare)
- Akzeptierte Einladungen

[2014-10-24 11:25] #38 closed, assigned to ryad-eldajani

[2014-10-24 11:34] IvenZ opened #51 "Offizielle Mail Addy für Schriftverkehr"
contact@htwplus.de einrichten

[2014-10-28 13:12] #50 closed, assigned to ryad-eldajani

[2014-10-28 16:21] vanbernum opened #52 "Notification + Einladung zu Kursen"
Vielleicht fliegt es ja eh demnächst raus aber bis dahin: folgende Probleme sind mir gerade aufgefallen.
- In den offenen Anfragen auf der Gruppen & Kurse Seite wird der Kursname nicht angezeigt. Außerdem sollte in der Kopfzeile der Tabelle "Gruppenname" in "Name" oder "Gruppen-, Kursname" angepasst werden, da diese sowohl für Einladungen in beides ist.
- Bei der Notification wird außerdem der Kur

[2014-11-03 14:19] IvenZ opened #53 "Markieren bestimmter Personen"
Mir fehlt so ein bisschen die eindeutige, schnelle(!) Identifikation einer Person.
Hintergrund: In einem Post mit Kommentaren kann schlecht die jeweilige Rolle einer Person bewertet werden.
Speziell auch in Hinblick auf die Plattform.
Im Moment ist es ja so, dass wir mit dem Admin Account die offiziellen Sachen (Feedback Gruppe) versuchen zu beantworten. Damit der Post Ersteller weiß, ah ok, da kü

[2014-11-03 15:22] #42 closed, assigned to IvenZ

[2014-11-03 15:22] #48 closed, assigned to De3pBlu3

[2014-11-03 15:23] #49 closed, assigned to ryad-eldajani

[2014-11-03 15:23] #47 closed, assigned to ryad-eldajani

[2014-11-05 15:10] #52 closed, assigned to nobody

[2014-11-05 18:14] De3pBlu3 opened #60 "Menuitems with name AND icon"
(siehe Optionsmenü bspw. in Gruppenübersichtsseite)

Zu ändern sind:
* Navbar
* TabItems

[2014-11-05 18:18] De3pBlu3 opened #61 "Fixed breadcrumb"
Die Breadcrumbs sollten ebenso wie die Navigationsleiste am oberen Bildschirmrand fixiert werden. Dazu muss entsprechend der Style angepasst werden. Weiterhin sollte die Bedienung auf mobilen Endgeräten erleichtert werden.

[2014-11-11 09:32] vanbernum opened #62 "Grouptitle only out of whitespace"
Aktuell lassen sich Gruppen erstellen, bei denen der Title nur aus White-Space besteht; das sollte so natürlich nicht sein. Vielleicht wäre an der stelle ein Regex sinnvoll bzw. vielleicht stellt JPA bereits Annotationen dafür bereit, um das abzufangen?!

[2014-11-11 11:12] #62 closed, assigned to IvenZ

[2014-11-23 09:56] #51 closed, assigned to IvenZ

[2014-11-23 09:57] #24 closed, assigned to fabiankirstein

[2014-11-30 18:41] #17 closed, assigned to De3pBlu3

[2014-12-02 20:26] IvenZ opened #65 "Notification-Anzahl wird nicht mehr angezeigt."
@ryad-eldajani oder @De3pBlu3
Irgendjemand müsste sich das mal angucken.
Ich finde auf die schnelle keine Lösung.

[2014-12-04 12:46] #65 closed, assigned to nobody

[2014-12-13 20:40] FabiApfelkern opened #67 "Collapse Package fehlt in Bootstrap"
In der customized Bootstrap.js fehlt die collapse Funktionalität. Ich habe sie erst einmal seperat mit der collapse.js ergänzt. Bitte ordentlich einbetten.

[2014-12-21 11:11] ryad-lindner opened #68 "Chat"
Es soll eine einfache Chat-Funktion implementiert werden.
Der Chat wird auf den vorhandenen WebSocket-Funktionalitäten aufbauen.

[2014-12-22 13:54] IvenZ opened #69 "Search"
DAS Ticket für die neue Suche.
Wichtige Hinweise werden hier festgehalten.

[2015-01-17 11:53] De3pBlu3 opened #70 "Auto-Pagination"
Automatisches Nachladen des Inhalts beim Scrolln wird integriert.

[2015-01-17 11:56] De3pBlu3 opened #71 "Bearbeiten von Posts"
Selbst erstellte Posts und Kommentare sollen nachträglich bearbeitet werden können. Mindestens ein Hinweis, dass dieser bearbeitet wurde, oder gar gewisse Einschränkungen sind notwendig.

[2015-01-19 16:28] IvenZ commented on #69
aktueller Stand ist online.
@FabiApfelkern der Ergebniszähler für die einzelnen Suchergebnisse ist leider nicht "mal eben" gemacht. Dafür müsste ich meine ganze Suche umbauen bzw. erweitern.
Ich lass das erst einmal weg.

Wenn ich hinterher noch Zeit habe, schau ich mir das noch mal an, ok?

[2015-01-19 16:56] FabiApfelkern commented on #69
Läuft super auf Dev. Sollten aber alle durchtesten. Dann gerne auf live.
Nur eine Sache:  Das " 1-10 von 2 in 6 ms" sollte besser sein. also von es nur 2 sind, sollte da nicht 1-10 stehen und die Zeit ist irrelevant!
Und ich gehe davon aus du hast getestet ob wirklich alles gefunden wird. Hab ich jetzt nicht gemacht.
Ansonsten lass uns am Mittwoch über die Anzahl der der Ergebnisse reden.

[2015-01-19 18:20] IvenZ commented on #69
ok, ist geändert.

[2015-01-21 07:56] De3pBlu3 commented on #69
An sich erstmal sehr geil...auch die Suchseite sieht jetzt super übersichtlich aus :-D :+1:

Ein paar Anmerkungen hätte ich noch:
* Während man mit "developers" die Gruppe "Developers Developers Developers" findet, tauch diese bei der Suche nach "Developers" nicht auf.
* Wenn ich nach "develop" suche, finde ich wieder die oben genannte Gruppe und einen Post, in dem @IvenZ "Develop ..." schrieb. Su

[2015-01-21 21:27] IvenZ commented on #69
Im letzten Update sind die meisten von euch gewünschten Punkte umgesetzt.

Medien indizieren wird wohl noch etwas größer.
Ich muss echt schauen ob ich da mit der Zeit hinkomme :-/

[2015-01-22 10:26] IvenZ commented on #69
Ok
Develop hat nun nen Stand wie der Master.
Bitte noch einmal bis Sonntag Abend testen.

Wenn alles gut ist, dann schalte ich es Sonntag Abend dann Live.

[2015-01-22 11:03] IvenZ commented on #69
Durch das Highlighting ist derzeit noch XSS möglich. Nicht wundern. Das kommt natürlich noch raus, bevor es Live geht.

[2015-01-23 17:42] De3pBlu3 commented on #69
Also abgesehen von meinen Anmerkungen, die noch offen sind, ist für mich alles fein :-). Hast du denn eigentlich ne Idee woran das liegt, was ich in den ersten beiden Punkten beschrieben hatte?

[2015-01-23 21:27] IvenZ commented on #69
Das Problem sollte eigentlich behoben sein?!

[2015-01-24 12:02] FabiApfelkern commented on #69
Was noch geil wäre: Wenn ich auf eine Person klicke mit der ich befreundet bin lade ich auf deren Stream und nicht Profil.

[2015-01-24 12:03] FabiApfelkern commented on #69
Diese URL wirft ein Fehler: http://dev.plus.f4.htw-berlin.de/search

[2015-01-24 12:07] FabiApfelkern commented on #69
Ach und dieses Zitat auf der Suchseite hat da meiner Meinung nach nichts zu suchen.

[2015-01-24 15:57] IvenZ commented on #69
Frau Hüttinger, sind sie es?

[2015-01-24 16:09] De3pBlu3 commented on #61
So die noch offenen Probleme sollte jetzt der Vergangenheit angehören ;-)

[2015-01-24 17:01] FabiApfelkern commented on #61
Bitte die Probleme nochmal nennen, der Thread ist sehr verwirrend. :)

[2015-01-24 19:13] De3pBlu3 commented on #61
Siehe Bilder in obigen Kommentaren:

![](https://cloud.githubusercontent.com/assets/1950407/4992245/eca35f14-699d-11e4-96dd-336a2ab9890a.png)

![](https://cloud.githubusercontent.com/assets/1950407/4992280/66249bbe-699e-11e4-842c-9ad9cb72036b.png)

[2015-01-24 19:36] IvenZ commented on #61
sieht gut bei mir aus. (windows phone - IE)

[2015-01-24 19:40] IvenZ commented on #61
Mir ist aber noch etwas anderes aufgefallen
@De3pBlu3 ich habe letztens das Hintergrundbild auf unseren Server gelegt versucht alle passenden Stellen im Code anzupassen.

Im Phone resized sich allerdings das Bild nicht mehr.
Ich meine das hatte es noch gemacht, als ich die URL gewechselt habe.

Kannst du da bitte noch mal gucken?

[2015-01-24 20:09] De3pBlu3 commented on #61
Ist mir auch schon aufgefallen...sehe ich mir an.

[2015-01-24 23:19] De3pBlu3 commented on #29
@ryad-eldajani Dein Commit https://github.com/socia-platform/htwplus/commit/58b2686e9f8378219bd973eb774c514246d8ec1c wird leider nie im Master landen, da wir Feature-Branch basiert arbeiten ;-)

[2015-01-24 23:21] IvenZ commented on #69
Ich habe für geschlossene Gruppen und Kurse eine Landing Page gemacht.
Es gab das Problem, dass man diesen Gruppen mit der neuen Suche (speziell die Anzeige der Gruppen und Kurse) nicht mehr beitreten konnte.
Die Landing Page besteht aus nicht mehr als der Gruppeninfo + Beitrittslink.

[2015-01-25 08:49] ryad-eldajani commented on #29
Wieso sollter der nicht in den Master gemerged werden können? Der Commit ist doch in dem Branch https://github.com/socia-platform/htwplus/tree/29_frontendFeatures .

[2015-01-25 09:50] De3pBlu3 commented on #29
Ach in dem ist der auch drin?! Na dann natürlich schon, sry. Dann sollte es
nur mal nen Pull Request geben... vielleicht solltest du dann mal den
Master in Frontend Features mergen.
Am 25.01.2015 09:49 schrieb "Ryad El-Dajani" <notifications@github.com>:

[2015-01-25 09:58] De3pBlu3 commented on #29
Aber aufm Dev läuft das gerade auch nicht?! Also sieh dir das mal bitte nochmal an, dann teste ich das und mach dann den Pull Request.

[2015-01-25 11:05] ryad-eldajani commented on #29
Der Commit ist zwar im develop Branch, aber aus meiner Sicht offenbar auf dem Dev-Server nicht deployed. Ich bin da gerade auch etwas ratlos, warum das nicht auf dem Dev drauf ist. @IvenZ Hast du eine Idee, woran das liegen könnte bzw. könntest du mir den Gefallen tun und im Jenkins nachschauen, ob es evtl. ein Problem gibt?

[2015-01-25 11:26] De3pBlu3 commented on #69
Also meinet wegen kann das Zitat bleiben ;-). Jedoch finde ich die Suchseite noch nicht optimal:
* Das Alert würde ich rausnehmen, so dass man halt einfach durch leere Suche oder die entsprechende URL auf die Such-Seite gelangt.
* Wenn das Zitat bleiben soll, dann muss es aber auch bei kleinerer Auflösung umbrechen.
* Außerdem sollte das Such-Eingabefeld auf maximale Breite skalieren.
* Vielleicht

[2015-01-25 11:48] IvenZ commented on #69
@De3pBlu3 hast du das schon fertig gestyled?
Könntest du es dann vielleicht direkt in meinen Branch pushen?

[2015-01-25 11:56] IvenZ commented on #69
@all
Ich habe noch Probleme mit dem Escapen.
In #62 hatten wir das Thema erlaubte Buchstaben schon mal angesprochen.
Für die Gruppen habe ich das gleich mal gemacht. @Pattern(value="^[A-Za-z0-9.!#$%&'+=?_{|}~-]+$")

Was mir allerdings im Moment noch gar nicht gefällt -> das Escapen der Posts für die Suchseite.
Ich weiß nicht wie ich das am schönsten hinbekomme.

Das Problem:
Elasticsearch return m

[2015-01-25 12:04] IvenZ commented on #29
Es war vermutlich mal aufm Dev.
Da wir ein paar single commits aufm Master hatten, habe ich im Dezember nen neuen Dev erstellt.
Und da war dann der 29er wohl nicht mehr drin.

Ich habe ihn jetzt noch mal reingemerged...

ps: schönes Beispiel warum feature Branches ganz n1 sind.

[2015-01-25 12:42] ryad-eldajani commented on #29
Super, danke dir!

[2015-01-25 12:44] De3pBlu3 commented on #69
@IvenZ Also das mit der erweiterten Suche war wie gesagt nur ein Mockup (Vorschlag), somit wäre es an dir, das umzusetzen, wenn dir das auch gefällt.

Logo und Landingpage bin ich noch in einem eigenen Branch dran.

[2015-01-27 18:11] De3pBlu3 commented on #67
Ist wieder drin...

[2015-01-27 19:23] FabiApfelkern opened #73 "Überarbeitung des Profils"
Das Profil muss verfeinert werden, mehr Felder bieten. Auf das Ausfüllen der Email soll schon auf dem Stream hingewiesen werden.

[2015-01-27 19:23] #27 closed

[2015-01-27 19:24] FabiApfelkern opened #74 "Neues Medienmanagement"
TBA - Ergebnis der Projektstudiums abwarten

[2015-01-27 19:25] FabiApfelkern opened #75 "Neuordnung und Verbesserung der JavaScript Dateien"

[2015-01-27 19:26] FabiApfelkern commented on #67
Ich glaube das muss nicht groß getestest werden, wenn du sagst es geht bei den Kommentaren und der Hilfeseite.

[2015-01-27 19:37] De3pBlu3 commented on #67
Jo. Sowohl Kommentare als auch Hilfe Seite läuft :-)

[2015-01-27 19:57] #67 closed

[2015-01-27 20:06] De3pBlu3 commented on #61
Passt!

[2015-01-27 20:06] #61 closed

[2015-01-31 12:01] FabiApfelkern opened #79 "Falsche Zeit in Worten"
Die Umrechung der Daten in Worte scheint nicht richtig zu funktionieren. Siehe Screenshot.
Es ist gerade 13 Uhr bei mir. Den ersten Post habe ich gestern Abend geschrieben nicht heute (in der Zukunft). Iven kann auch nicht heute Abend kommentiert haben.

![unbenannt](https://cloud.githubusercontent.com/assets/1488424/5987968/0fe80390-a949-11e4-8090-ce8f51026050.PNG)

[2015-02-09 13:41] FabiApfelkern commented on #43
Wie in einer Feedback-Nachricht angemerkt (https://plus.f4.htw-berlin.de/post/13472) sollte in den Emailtext ein genauer Link zur betreffenden Sache.

[2015-02-12 16:52] IvenZ commented on #71
Ich bin fast dafür, dass sich ein Post nur inner von X Minuten bearbeiten lässt.
Gründe:
- Es schränkt das trollen ein.
- Nutzer lesen bereits gelesene Posts nicht mehr
- Ich kenne keinen Use Case, bei dem ich einen Post nach mehreren Stunden/Tagen noch mal komplett änder.

[2015-02-12 17:42] FabiApfelkern commented on #71
Ich stimme voll zu! Bei FB ist es genauso.

[2015-02-13 15:45] De3pBlu3 commented on #71
Finde ich gut...machen wir so =)

Am 12. Februar 2015 um 18:42 schrieb Fabian Kirstein <
notifications@github.com>:

[2015-02-14 12:32] FabiApfelkern commented on #75
Erster Schritt für bessere JS ist gemacht. Ich habe alles etwas umsortiert und Bower eingeführt. Alle Vendor JS Libraries werden jetzt damit runtergeladen. Außer Bootstrap, dafür brauchen wir noch Grunt zum customizen. Das kommt später. Außerdem habe ich das sbt plugin JSHint installiert. Damit werden unsere JavaScripts auf Fehler geprüft. Ich habe auch direkt welche korrigiert in allen Dateien. D

[2015-02-14 12:47] FabiApfelkern opened #81 "Elasticsearch in Build.sbt"
Hat diese Abhängigkeit im Moment eine Bedeutung?
https://github.com/socia-platform/htwplus/blob/master/build.sbt#L19

[2015-02-15 12:27] IvenZ commented on #81
klar, brauch doch die library zum steuern ^^

[2015-02-15 12:28] IvenZ commented on #75
wollen wir uns da mal zusammen setzen?

[2015-02-15 18:57] FabiApfelkern commented on #81
Natürlich. Alles klar. Danke.

[2015-02-15 18:57] #81 closed

[2015-02-15 18:57] FabiApfelkern commented on #75
Können wir machen. Ist aber nicht so schwierig.

[2015-02-25 10:21] FabiApfelkern commented on #71
Anforderungen:
 - Icon neben Mülltonne
 - Bearbeitung nur für x Minuten
 - Ausgegraut wenn nicht möglich mit Tooltip
 - Text wird zu Eingabefeld
 - Speichern Button daneben

[2015-02-26 12:12] De3pBlu3 commented on #75
Finde alles geil...kann meinetwegen auf den master. Wir sollten dann aber bald auch grunt mit einführen?!

[2015-02-26 17:14] IvenZ commented on #75
Ich schau mal, dass wir das bis Sonntag deployed bekommen.

Muss auf den Server nur node installiert werden?

[2015-02-26 17:29] TeNNoX commented on #71
Sind doch schon Fortschritte :)
![bearbeiten](https://cloud.githubusercontent.com/assets/2084639/6397493/5a2ae07a-bde5-11e4-810f-71f7a7a8365c.png)

[2015-02-26 17:34] De3pBlu3 commented on #71
Fein :-)
Ich hoffe du hast meine Anmerkungen in 6c2506c wahrgenommen?

[2015-02-26 19:37] FabiApfelkern commented on #75
Jo. Sollte noch installiert werden. Ich werde das am Samstag machen!

[2015-02-27 09:06] IvenZ commented on #75
Bin Samstag ab ~16.30 Uhr online.
Wenn du was brauchst, sag bescheid.

[2015-02-27 09:10] IvenZ commented on #73
Ich möchte gerne, dass man durch das Profil sieht, in welchen Gruppen eine Person ist.
Vorallem bei Dozenten.
Mir ist das jetzt schon zwei mal passiert, dass ich mir nen Kurs angucken wollte, ich zwar den Dozenten kannte, aber nicht wusste wie seine Kurse finde.
Früher hatte das mit der Ergebnisübersicht der Suche noch ganz gut funktioniert.
Ich möchte die Suche auch wieder diesbezüglich erweitern

[2015-02-27 09:20] De3pBlu3 commented on #73
Aber dann vielleicht unter der Bedingung, dass man mit der Person
"befreundet" ist.

Am 27. Februar 2015 um 10:10 schrieb Iven <notifications@github.com>:

[2015-02-27 10:34] IvenZ commented on #73
Würde das Ziel meines Vorhabens wieder einschränken ;)
Mit Dozenten bin ich ja nicht befreundet.
Und mit den aktuellen Berechtigungen würde ich auch so herausfinden, welche Person sich in welcher Gruppe aufhält. (finde ich auch gut so)
Es wäre nur ein bisschen umständlich und ich hätte es gerne zentral.

Was würde denn deiner Meinung nach gegen eine öffentliche "ich bin in der und der Gruppe"-Anze

[2015-02-27 11:18] De3pBlu3 commented on #73
Warum bist du denn nicht mit deinen Dozenten befreundet??? Verstehe ich
nicht ;-).
Ja stimmt schon, bekommt ja jetzt bereits raus - halt nur umständlich.

Dann packen wir es halt aufs Profil...vielleicht kann man ja persönlich
noch einstellen, ob man das will oder nicht?!

Am 27. Februar 2015 um 11:34 schrieb Iven <notifications@github.com>:

[2015-02-27 15:09] TeNNoX commented on #71
Wie ist das eigentlich, sollen Posts genauso bearbeitbar sein?
War bis jetzt erstmal davon ausgegangen, da man das später ja noch recht leicht ändern kann...

[2015-02-27 15:14] De3pBlu3 commented on #71
Jo...sollte sich identisch zu den Kommentaren verhalten.

Am 27. Februar 2015 um 16:09 schrieb TeNNoX <notifications@github.com>:

[2015-02-28 19:20] FabiApfelkern commented on #75
Node ist auf dem Server installiert. Sollte laufen.

[2015-02-28 21:09] IvenZ commented on #75
@FabiApfelkern merge mal bitte deinen Branch mit develop, damit wir es da erst testen können.

[2015-03-01 19:35] IvenZ opened #83 "SSL prüfen"
Spinnt schon ne ganze Weile.
Ich gucke mir das im neuen Semester mal an.

[2015-03-02 12:10] FabiApfelkern opened #84 "Account löschen"
Nutzer sollten die Möglichkeit haben ihren Account zu löschen. Erstellte Inhalte sollen anonymisiert werden.

[2015-03-02 12:10] FabiApfelkern opened #85 "Posts favorisieren"
Posts und Kommentare können favorisiert werden.....
TBA

[2015-03-02 12:12] FabiApfelkern opened #86 "LDAP-Account zu Local-Account"
Funktion im Admin-Interface, um einen LDAP Account zu einem lokalen Account zu machen.
 - Loginname setzen
 - Passwort setzen
 - Kommentar in die Hilfe, falls das jemand braucht

[2015-03-02 17:36] IvenZ commented on #84
wurdest du darauf angesprochen? :)

[2015-03-02 17:37] IvenZ commented on #85
Super Feature für meine Suche *händereib* ^^

[2015-03-02 17:43] IvenZ commented on #71
@TeNNoX
Bitte darauf achten: http://en.wikipedia.org/wiki/Unobtrusive_JavaScript

[2015-03-02 17:53] TeNNoX commented on #71
@IvenZ Dachte ich mich schon... Aber ich dachte in dem Fall wäre das eine Ausnahme wert, da man dann nicht bei jedem neuerstellten Post die Funktion zum "anbringen" des onClick-Events ausführen müsste.

Aber gut, mache ich bei der sauberen Variante anders :P

[2015-03-02 22:38] IvenZ commented on #71
Danke :)

[2015-03-03 06:45] FabiApfelkern commented on #71
Du musst bei einem neuerstellten Post keine Funktion zum "Anbringen" des Events ausführen. Das geht auch automatisch in jQuery mit dem on()-Event: http://stackoverflow.com/questions/1359018/in-jquery-how-to-attach-events-to-dynamic-html-elements

[2015-03-03 09:12] FabiApfelkern commented on #75
Ist erstmal drin, aber noch nicht perfekt. Die Chat.js muss noch mal angefasst werden.

[2015-03-03 09:16] FabiApfelkern opened #87 "Chat.js und JSHint"
Ich habe #75 in den Develop gemerged. Daher wurde die Chat.js mit JSHint überprüft. Dabei gab es einige kleine Fehler. Die habe ich zunächst einfach behoben. Dann ging der Chat aber nicht mehr. (Er hat sich bei Klick auf eine Person einfach nicht geöffnet). Ich habe jetzt erstmal mit JSHint Direktiven (/* jshint ignore:start */) die Chat.js aus der Überprüfung genommen. Das bitte wieder entfernen

[2015-03-03 12:59] TeNNoX commented on #71
Ouuuuh... sweet :D
Danke :)

[2015-03-05 23:04] IvenZ commented on #29
was ist eigentlich mit diesem branch/issue? das zeug ist noch nicht im master und dümpelt irgendwie seit 3 monaten hier rum.

sowas ist kacke.
wir sollten das issue-system nicht dafür missbrauchen um irgendwelche mehrdimensionalen features festzuhalten.

ein issue/branch - ein problem.

hier sieht keine sau durch.
@ryad-eldajani du hast hier ein paar dinge gemacht, oder?
die sind in sich konsisten

[2015-03-06 06:45] ryad-eldajani commented on #29
@IvenZ Hab diesen Commit gepushed https://github.com/socia-platform/htwplus/commit/58b2686e9f8378219bd973eb774c514246d8ec1c . Offenbar hat @FabiApfelkern aber noch einen Fehler entdeckt: https://github.com/socia-platform/htwplus/issues/79 .

Den muss ich unbedingt beheben, bevor wir den mergen können. Ansonsten ist mein Beitrag konsistent, ja :)

[2015-03-06 12:14] FabiApfelkern opened #89 "Desktop Notifications"
Notifications von Webseiten über den Browser auf den Desktop werden immer beliebter. So was wäre echt geil für unsere Notifications und den Chat. Hier mal die Firefox-API: https://developer.mozilla.org/en-US/docs/Web/API/notification

[2015-03-06 14:43] ryad-eldajani commented on #89
Die Idee hatte ich auch schön länger. Immer wieder vergessen, euch zu fragen, was ihr davon haltet. Ich bin definitiv dafür und lässt sich theoretisch auch einfach einbauen.

[2015-03-06 14:48] De3pBlu3 commented on #29
Das war auch nie als Issue als Grundlage für irgendwelche Branches gedacht...es sollte mehr als Ideensammlung dienen...

[2015-03-06 14:54] De3pBlu3 commented on #89
Jo das kam mir auch schon des öfteren in den Sinn =)
Was ich ebenfalls ganz gut finde:
![image](https://cloud.githubusercontent.com/assets/4548411/6527139/af447f10-c418-11e4-937e-4921fcd1db19.png)
So landet man bei einer GitHub E-Mail Notification sofort im entsprechenden Issue...kp, ob das auch andere unterstützen. Das hier ist bei der G-Mail Website. Bei uns könnte man dann natürlich auf den ent

[2015-03-06 15:02] De3pBlu3 commented on #89
Folgender Code wird dazu im E-Mail Content platziert:
[code]

[2015-03-06 16:42] FabiApfelkern commented on #89
Geht das nur bei Googlemail oder unterstützt das Thunderbird auch?

[2015-03-06 18:00] De3pBlu3 commented on #89
Das habe ich noch nicht recherchiert...aber ich denke wahrscheinlich nicht.

[2015-03-06 18:07] ryad-eldajani commented on #89
Ne, im Thunderbird geht's nicht.

[2015-03-08 22:51] TeNNoX opened #90 "Tooltips are not initialized for new comments"
When posting a new comment, the tooltips for the delete-icon (and in the future also the edit-icon) are not initialized (via $('[rel="tooltip"]').tooltip();)

[2015-03-09 06:58] FabiApfelkern commented on #90
Common Problem:
http://jsfiddle.net/6NVQS/1/
http://stackoverflow.com/questions/9958825/how-do-i-bind-twitter-bootstrap-tooltips-to-dynamically-created-elements

[2015-03-09 10:08] TeNNoX commented on #89
Finde ich beides ziemlich geil :D

[2015-03-09 10:31] TeNNoX commented on #90
Somehow I can't get it to work for the popover...

http://jsfiddle.net/n5vn6kg9/

[2015-03-09 12:44] FabiApfelkern commented on #90
You have to pass all parameters you need via JavaScript and not via the HTML attribute: http://jsfiddle.net/n5vn6kg9/1/

[2015-03-09 12:49] FabiApfelkern commented on #90
Wrong link: https://jsfiddle.net/16fhu4v9/1/

[2015-03-09 17:36] TeNNoX commented on #71
Was passiert, wenn der User anfängt, einen Post zu bearbeiten, und aber wenn er den bearbeiteten Post abschickt, die Zeit schon abgelaufen ist?

Einfach die Seite neu laden, wenn beim Laden ein badRequest zurückgebenen wird?

[2015-03-09 17:39] TeNNoX commented on #71
Und wenn die Session des Nutzers abläuft, während die Seite offen ist, kommt das hier:
http://i.gyazo.com/3873899eb2f4b8574587bff932361123.png

Das kann ich aber nicht so einfach beim AJAX ändern, da in dem Fall vom Server auch ein "200 OK" zurückgegeben wird... :/

[2015-03-09 18:07] FabiApfelkern opened #91 "Sinnvoller Response bei unauthorisiertem AJAX-Request"
Ordenlichen HTTP-Code setzen und JSON Payload mit Fehlermeldung.

[2015-03-09 18:17] FabiApfelkern commented on #71
Sehr guter Punkt mit der Session. Ich habe mir mal ein Ticket erstellt (#91), um das global besser zu gestalten. Ignoriere das Problem erstmal.
Wegen der abgelaufenen Zeit: Gute Frage. Vielleicht können wir für das Speichern eine Toleranzzeit einbauen. Vielleicht 10 Minuten und dann ist halt Pech,

[2015-03-09 18:27] TeNNoX commented on #71
Also X Minuten lang ist der Button sichtbar, und Y Minuten lang kann man es noch abschicken. ?!

[2015-03-09 18:33] FabiApfelkern commented on #71
Genau!

[2015-03-09 18:59] TeNNoX commented on #71
Done. :)

[2015-03-09 19:09] TeNNoX commented on #71
test this please

(sollte soweit funktionieren.)
Eine Idee, die ich noch hatte (vielleicht als extra issue?), ist dass wenn ein Post bearbeitet wurde, neben der Zeit:
![send](https://cloud.githubusercontent.com/assets/2084639/6562290/1e49bb56-c698-11e4-8967-70b7ac9f74c2.png)

[2015-03-09 19:16] TeNNoX commented on #90
Done, thanks :)

[2015-03-09 19:54] TeNNoX opened #92 "Klick auf 'Suchen' auf der Gruppenübersicht bewirkt nichts merkliches"
Wenn man auf der Seite
https://plus.f4.htw-berlin.de/groups
auf den Link 'suchen' klickt (*Du bist noch keinem Kurs beigetreten. Jetzt einen Kurs* **suchen**), passiert nichts merkliches (außer, das halt die Suche oben fokussiert wird...)

Da das wie ein Link aussieht, aber nichts passiert, ist das ein wenig verwirrend. (Ich spreche aus eigener Erfahrung :P)

**Vorschlag**: Weiterleitung auf die S

[2015-03-11 08:10] FabiApfelkern commented on #71
Es gibt zwei Branches mit 71. Nur um sicher zu gehen, welcher soll getestet werden?

[2015-03-11 15:43] TeNNoX commented on #71
@FabiApfelkern 71_editPosts

[2015-03-11 18:38] De3pBlu3 commented on #60
Also Mockup 1

[2015-03-11 19:17] De3pBlu3 commented on #21
Kommt zusammen mit #70

Footer fliegt raus, dafür die wichtigsten Punkte gebündelt in einen Menüpunkt in der Navbar!

[2015-03-11 20:05] TeNNoX commented on #71
@FabiApfelkern Die aktuelle Branch ist jetzt 71_editPostsClean...

basierend auf dem master branch

[2015-03-11 20:06] TeNNoX commented on #90
Ist jetzt rebased auf den Master... hoffe das gibt keine merge-Probleme bei euch, das mit dem Rebase soll man wohl nicht machen, wenn es schon auf einem repository ist. Habe ich dummerweise erst gelesen, nachdem ich es schon gepushed habe.

[2015-03-11 22:32] TeNNoX commented on #90
Was haltet ihr davon:
![send](https://cloud.githubusercontent.com/assets/2084639/6608384/cfa85c4a-c846-11e4-8373-76832e84ab49.gif)

[2015-03-11 23:09] TeNNoX commented on #71
Was haltet ihr davon:
![send](https://cloud.githubusercontent.com/assets/2084639/6608384/cfa85c4a-c846-11e4-8373-76832e84ab49.gif)

v2 (Klick auf 'neuladen' lädt die Seite neu):
![send](https://cloud.githubusercontent.com/assets/2084639/6608843/02a6f7a6-c84b-11e4-9e16-f3161e082eff.gif)

[2015-03-11 23:17] TeNNoX opened #93 "Meldung 'Verbindungsfehler' wenn kein Passwort eingegeben"
Wenn man bei der Anmeldung kein Passwort eingibt, kommt der Fehler:
´´´"Es gab ein Problem bei der Verbindung zum LDAP-Server. Bitte versuche es später noch einmal. "´´´

Es sollte sowas wie "kein Passwort eigegeben" erscheinen.

[2015-03-12 03:25] TeNNoX commented on #83
"Diese Website verwendet ein SHA-1-Zertifikat; es wird empfohlen, Zertifikate mit Signaturalgorithmen zu verwenden, die stärkere Hashfunktionen verwenden als SHA-1."

[2015-03-16 20:37] TeNNoX opened #94 "post-id wird nicht ersetzt"
Die Variable wurde im Quellcode mit in den String geschrieben...
![send](https://cloud.githubusercontent.com/assets/2084639/6675873/1052e87e-cc24-11e4-9b56-80d642b4445f.png)

[2015-03-16 20:37] TeNNoX commented on #94
Fix incomming...
Für die Zukunft: soll man für sowas immer einen extra issue erstellen?

[2015-03-18 12:33] De3pBlu3 commented on #94
Nach dem neuen Gitflow wäre das entweder direkt im Feature-Branch
abzuhandeln, oder - wenn es was dringendes ist - als Hotfix-Branch zu
betrachten, der vom Master abgezweigt wird, getagt werden soll und
anschließend in den develop gemerged wird.

2015-03-16 21:37 GMT+01:00 TeNNoX <notifications@github.com>:

[2015-03-18 17:59] TeNNoX commented on #94
@De3pBlu3 Also als Hotfix-Material würde ich das nicht betrachten...
Aber das passt auch in keinen Feature-branch mehr?!
Oder ist das Feature "add comments" noch offen? :P

[2015-03-18 18:08] De3pBlu3 opened #95 "Whitespace bei Posts / Kommentare valide"
Wie oben gesagt: man kann sowohl beim Erstellen als auch beim Bearbeiten von Posts / Kommentaren ausschließlich Whitespace angeben.

[2015-03-18 18:34] De3pBlu3 commented on #60
Tab für 'Profil bearbeiten' -> falscher Text

[2015-03-18 18:37] TeNNoX commented on #60
Von @De3pBlu3: Schriftgröße 10px

Vorschlag: einfach bessere Icons verwenden (gibt mittlerweile deutlich mehr Icons in Bootstrap)
Wenn die aussagekräftig genug sind, braucht man keine Schrift. :P

Beispiele:
![send](https://cloud.githubusercontent.com/assets/2084639/6716424/c2fa926a-cda5-11e4-803d-b05bd4250ed7.png)
![send](https://cloud.githubusercontent.com/assets/2084639/6716449/ed85a54c-cda5-11

[2015-03-25 17:52] TeNNoX commented on #95
Ich hab die Animation für einen ungültigen Post von dem ganz leeren Post übernommen, hab es aber ein wenig geändert... (finde das ganz ausblenden sieht komisch aus)

![old](https://cloud.githubusercontent.com/assets/2084639/6831321/e0207a1a-d31f-11e4-8917-593ef797cb3d.gif)
![new](https://cloud.githubusercontent.com/assets/2084639/6831285/a94a0a88-d31f-11e4-8b2b-4d12ff8adb5c.gif)

[2015-03-26 00:52] TeNNoX commented on #84
Ich überlege gerade, welche Rolle der Dummy Account bekommt... Administrator oder Student?
Oder vielleicht eine vierte AccountRole 'Dummy' erstellen?

[2015-03-26 08:51] De3pBlu3 commented on #84
Jo der sollte separat behandelt werden.

Am 26. März 2015 um 01:52 schrieb TeNNoX <notifications@github.com>:

[2015-03-26 09:07] FabiApfelkern commented on #84
Also ich denke das ist nicht unbedingt notwendig. Ich würde ihm die kleinste Rolle geben, also Student.

[2015-03-26 09:21] De3pBlu3 commented on #84
Naja zumindest für das Backend würde das reichen, jedoch sollte dieser im
Frontend eindeutig von den anderen Personen unterschieden werden können:
 * kein User-Profil (wüsste nicht, wozu das gut sein sollte)
 * keine Freundschaftsanfragen
 * eigens Popup beim hover über den Namen
 * ...

2015-03-26 10:07 GMT+01:00 Fabian Kirstein <notifications@github.com>:

[2015-03-26 09:23] De3pBlu3 commented on #84
Naja zumindest für das Backend würde das reichen, jedoch sollte dieser im
Frontend eindeutig von den anderen Personen unterschieden werden können:

*   kein User-Profil (wüsste nicht, wozu das gut sein sollte)
*   keine Freundschaftsanfragen
*   eigens Popup beim hover über den Namen
*   ...

[2015-03-26 10:13] FabiApfelkern commented on #84
Stimmt auch wieder. Ich dachte dafür werden einfach die Links deaktiviert. Identifzieren würde ich ihn über die ID. Aber ist wahrscheinlich sauberer so.

[2015-03-26 10:16] De3pBlu3 commented on #84
Richtig...identifizieren per eigener Rolle ist auch fehlerunanfälliger,
auch wenn die ID ja unique ist. Außerdem wäre es so wiederverwendbar...

Am 26. März 2015 um 11:13 schrieb Fabian Kirstein <notifications@github.com>
:

[2015-03-26 12:08] TeNNoX commented on #73
Das Layout müsste ein wenig angepasst werden...

![send](https://cloud.githubusercontent.com/assets/2084639/6845845/1f421c14-d3b9-11e4-9486-74b4163f5f60.png)

[2015-03-26 12:40] TeNNoX commented on #84
Hier ein paar Bedenken, die mir noch gekommen sind:

1. Da man den ja als User ausweisen muss, was kriegt der als E-Mail/Passwort?
Einfach wie beim Admin? (aus der Config) Eigentlich braucht der ja kein PW, da man sich nicht einloggen muss...

2. Was passiert mit den Gruppen, die der User erstellt hat? Müssten die Admin-Rechte da nicht an jemanden übertragen werden, der sie auch benutzen kann?

3.

[2015-03-27 17:25] FabiApfelkern commented on #84
Vielen Dank! Das sind sehr gute Punkte.
zu 1. Ja denk dir einfach was aus. Die anderen Nutzer sehen das ja eh nicht

zu 2. Daran haben wir garnicht gedacht. Völlig richtig. Wir haben leider kein vernünftiges Rechtesystem in den Gruppen. Das fällt uns jetzt wieder auf die Füße. Ignoriere das erstmal. Die Gruppe hat dann keinen Admin mehr. Und wir gehen das Problem bald an. Vielleicht wird das deine

[2015-03-28 19:48] TeNNoX commented on #84
4. Was ist mit den Notifications, die andere User durch den User TBD (=To Be Deleted) bekommen haben?
Ich würde ja für Löschen plädieren, aber irgendwie kann's ja sein, dass er was kommentiert hat, und andere deswegen dann nicht benachrichtigt werden...
Aber anonymisieren geht leider nicht so wirklich, weil in der Datenbank ja die Namen im Klartext drinstehen.
**Idee:** In die Datenbank Placeholde

[2015-03-29 22:13] TeNNoX opened #96 "Korrektur von 'BaseModel.equals(obj)'"
Müsste in BaseModel.equals(obj) nicht:
[code]
statt:
[code]
stehen?

Denn z.B. **account.getClass()** gibt ja **Account.class** zurück, nicht **BaseModel**...
Dann geht der Vergleich also ins Leere, obwohl die Objekte gleich seien könnten.

[2015-03-29 23:39] TeNNoX opened #97 "JPA persist() statt merge()"
Eigentlich sollte doch in den **update()**-Funktionen von den ganzen Models die JPA-Funktion **persist(...)** und nicht **merge(...)** verwendet werden, da merge ja ein neues Objekt erstellt.

Der einzige Grund hier merge zu verwenden, wäre wenn das Objekt detached ist, und man es später noch verändern will, ohne das diese Änderungen gespeichert werden... Wofür ich jetzt keinen Grund sehe...

[2015-03-30 05:50] FabiApfelkern commented on #96
Das steht `obj.getClass() != BaseModel.class`, also ungleich. Was ja Sinn macht. Die Funktion soll prinzipiell nur an abgeleiteten Klassen aufgerufen werde, welche kein BaseModel sind.

[2015-03-30 07:12] FabiApfelkern commented on #97
Du hast grundsätzlich Recht. Unsere update-Funktion ist nicht ganz sauber. Wir haben das ursprünglich von einem offiziellen Beispiel von Play übernommen, aber mittlerweile festgestellt, dass es nicht ganz korrekt ist, aber funktioniert. Tatsächlich braucht man werder persist noch merge. Unsere Entities sind alle atached, daher sollten änderungen automatisch in die Datenbank geschrieben werden. Ive

[2015-03-30 14:44] TeNNoX commented on #96
@FabiApfelkern Das ergibt schon mehr Sinn... ^^
Kleiner Denkfehler... Aber komischerweise hat es bei mir nicht funktioniert...
Weiß aber leider nicht mehr, bei was das war.

[2015-03-30 14:44] #96 closed

[2015-03-31 10:49] IvenZ commented on #60
ich finde es so gut. newsstream ist allerdings noch etwas gequetscht

[2015-03-31 11:09] IvenZ commented on #95
habe das mal getestet (develop).
wenn ich ein kommentar bearbeite und whitespaces einfüge, bekomme ich gleich das die flash error message. ist das richtig @TeNNoX

[2015-03-31 18:28] TeNNoX commented on #84
5. Soll ich im Admin Panel noch eine Funktion hinzufügen zum Löschen von Accounts?

[2015-03-31 18:33] FabiApfelkern commented on #84
Link kannst du einbauen. Gute Idee. Mit den Notifications müssen wir morgen mal gemeinsam besprechen. Ich kann da nicht so viel sagen. Ryad weiß da Bescheid.

[2015-04-01 05:50] IvenZ commented on #93
habe mal auf unsere vorhandene error message umgestellt.

[2015-04-01 05:57] IvenZ commented on #73
Bezüglich der Anpassung des Layouts kann man sich mal
https://www.playframework.com/documentation/2.3.x/JavaFormHelpers
angucken.
Play besitzt auch die Bootstrap Templates die wir einsetzen können.
Es ist allerdings etwas mehr Aufwand.
Ich würde sagen wir warten damit bis @FabiApfelkern sein #15 Branch vollendet hat, da er sicherlich
auch auf der Page rumspielen musste.

[2015-04-01 06:12] IvenZ commented on #92
Ok, habe es mal auf die Suchseite weitergeleitet.

[2015-04-02 10:05] De3pBlu3 commented on #15
jo ich seh mir das mal an...das ist das Problem, wenn es an allen Stellen unterschiedlich gemacht wird :-D

[2015-04-03 02:37] IvenZ commented on #97
Ich habe mir das eben noch einmal angeguckt, da ich für die Account Update-Funktion einen sauberen (re)index call haben wollte.

Irgendwie hat alles nicht funktioniert. :-D

Hier noch mal meine 2 Pfennige:
Wird ein neue Entity erstellt, welche wir in der DB speichern möchten, muss weiterhin persist() aufgerufen werden. Wenn wir eine Entity aus der DB holen werden alle Änderungen vom EM AUTOMATISCH

[2015-04-03 08:06] IvenZ commented on #97
So, ich habe mal angefangen das umzubauen, allerdings bin ich schon wieder auf unseren alten Freund: "no em bound to this thread" gestoßen.

Ich hatte gehofft, dass ich mit Annotationen die Index-Geschichten anstoßen kann.
Scheint aber keine coole Lösung zu sein.

Also wohl doch per Hand :(

[2015-04-03 14:24] FabiApfelkern commented on #97
Nicht so schnell aufgeben. Wir sollten die EM Geschichte lieber mal richtig verstehen und damit arbeiten und nicht drumrum bauen.

[2015-04-05 14:34] IvenZ commented on #97
Ich habe mein Vorhaben gerade noch einmal in ein neues, frisches Projekt gebaut und da gab es keine Probleme. Ich befürchte, dass wir irgendwann an irgendeiner Stelle mal einen DB-Aufruf falsch implementiert haben.

[2015-04-05 14:56] FabiApfelkern commented on #97
Kannst du den Fehler bei uns einbauen und in einem Branch pushen. Ich will mir das mal angucken die Woche.

[2015-04-06 06:04] IvenZ commented on #97
Zieh dir einfach das Ding hier.
Das müsste knallen, sobald du ein Profil updatest.

[2015-04-06 09:08] FabiApfelkern commented on #97
Habs mir angeguckt. Ich versteh das nicht genau. Was ist denn dein Plan? Du rufst die indexAccount im Controller auf UND hast eine Annonation dran. Wenn ich die Annotation wegmache geht alles, logisch. Wenn ich den Aufruf im Controller rausnehme und die Annotation benutze wird die Methode nie aufgerufen, es gibt auch kein Fehler. Diese @PostUpdate und @PostPersist gehen einfach nicht.

[2015-04-06 18:27] TeNNoX commented on #97
Würde mir das auch die Tage mal anschauen, vielleicht hat es was gebracht, mir das ganze Zeug durchzulesen :P

[2015-04-07 07:31] IvenZ commented on #97
Habe den Aufruf noch einmal raus genommen. Dabei die Annotation von der indexAccount Methode funktioniert, müsst ihr das Account Objekt beim speichern verändern. (Ich änder immer den Studiengang)

[2015-04-07 12:27] ryad-eldajani commented on #79
Der 79er Branch basiert auf dem aktuellen Develop Branch.

[2015-04-07 15:19] IvenZ commented on #79
Danke. Kann man das irgendwie gut testen?
Habe gerade ein Post verfasst und er zeigt das richtige Datum an.

[2015-04-07 15:22] ryad-eldajani commented on #79
Ich hab heute auch viel rumprobiert, um den Fehler überhaupt nachstellen zu können :)
Am Ende konnte ich das reproduzieren, indem ich das Datum auf morgen um 11 stelle, einen Post erstelle, das Datum auf 19 stelle, einen Kommentar erstelle und dann nochmal einen Tag weiter auf 11. Am Ende hatte ich dann alles auf Heute. Mit der Joda API klappts aber alles gut. Die Date API von Java ist wohl broken

[2015-04-07 15:57] IvenZ commented on #15
Habe noch mal ein bisschen getestet:

Zu klein:
100x100 in bmp, tif, gif, jpeg, png -> alles wird richtig erkannt.

Passend:
250x250 in bmp, tif, gif, jpeg, png -> alles wird richtig erkannt.
Bei jpeg ist mir aufgefallen, dass ein abgebrochenes Bild nicht wieder geladen werden kann.
Also jpeg auswählen, abbrechen, wieder auswählen -> Seite macht nichts.
Bei png passiert das nicht.

"Zu groß":
1000

[2015-04-07 16:09] IvenZ commented on #79
Ok. So habe ich es auch gerade getestet. Aber das hat keinen Effekt, wenn ich das auf Dev teste, oder?
Es wird ja immer die Systemzeit von dem Host-Rechner genommen.
Also egal welches Datum oder Uhrzeit ich bei mir einstelle, er beschriftet die Uhrzeiten nach Dev-Server?!

[2015-04-07 16:21] ryad-eldajani commented on #79
Ja genau. Es gilt immer die Serverzeit. Ist also auf dem Dev leider kaum zu testen.

On April 7, 2015 6:09:54 PM GMT+02:00, Iven <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-04-08 14:21] De3pBlu3 commented on #60
hab es nochmal ein wenig angepasst...ist aufm dev

[2015-04-08 15:11] De3pBlu3 commented on #15
So die styling bugs sollten jetzt weg sein...Änderung bisher nur im Feature Branch!

[2015-04-09 08:06] IvenZ commented on #60
Danke, Kevin.
Habs mir mal angeguckt. Sieht gut aus.
Du hast die Schrift in den Tabs nur verkleinert, oder?
Es sieht ein bissel so aus, als würde das eine komplett andere Schriftart sein, aber wahrscheinlich
liegt das nur an der Größe.

Kannst du vielleicht in diesem Ticket noch den "Profil bearbeiten"-Bug entfernen?

![image](https://cloud.githubusercontent.com/assets/1950407/7062696/1dc6bf10-dea

[2015-04-09 09:22] De3pBlu3 commented on #60
Ist geändert und auf dem Dev.
Jo ich habe nur die Schriftgröße des Textes auf 10px geändert...die Icon-Größe habe ich beibehalten.

[2015-04-10 18:47] TeNNoX commented on #60
Ich finde die Schrift immernoch ünnötig...
Bis auf die runden Ecken und sowas finde ich das hier besser:
http://i.gyazo.com/866572c6415ccfb2dd97a6a44985f177.png

[2015-04-14 19:42] IvenZ commented on #15
merged in master

[2015-04-14 19:42] #15 closed

[2015-04-14 19:43] IvenZ commented on #95
merged in master

[2015-04-14 19:43] #95 closed

[2015-04-14 19:44] IvenZ commented on #92
merged in master

[2015-04-14 19:44] #92 closed

[2015-04-14 19:44] IvenZ commented on #93
merged in master

[2015-04-14 19:44] #93 closed

[2015-04-14 19:44] IvenZ commented on #94
merged in master

[2015-04-14 19:44] #94 closed

[2015-04-14 19:44] IvenZ commented on #90
merged in master

[2015-04-14 19:44] #90 closed

[2015-04-14 19:45] IvenZ commented on #79
merged in master

[2015-04-14 19:45] #79 closed

[2015-04-14 19:45] IvenZ commented on #29
merged in master

[2015-04-14 19:45] #29 closed

[2015-04-14 19:46] IvenZ commented on #60
merged in master

[2015-04-14 19:46] #60 closed

[2015-04-14 19:46] IvenZ commented on #71
merged in master

[2015-04-14 19:46] #71 closed

[2015-04-14 19:47] IvenZ commented on #69
merged in master

[2015-04-14 19:47] #69 closed

[2015-04-14 19:48] #97 closed

[2015-04-15 19:40] IvenZ opened #108 "reDesign *light*"
Sachen, die etwas länger in den Köpfen rumschwirren, habe ich hier mal verewigt.

[2015-04-15 19:55] IvenZ commented on #108
Was wurde geändert?
"Mein Newsstream" ist rausgeflogen.
Der Block ist rausgeflogen.
Anstatt des Blocks gibt es nur noch den Content-Bereich der sich mit abgerundeten Ecken
und einem Shadow vom Hintergrund abheben soll.
Der Hintergrund ist nicht mehr normales weiß. Ich habe eine leichte Textur verwendet.
Über das "Muster" lässt sich sicherlich noch streiten, aber ich finde den Kontrast zum Content-

[2015-04-15 20:00] IvenZ commented on #108
achso, könnt ihr euch auf dev angucken.

[2015-04-15 20:30] FabiApfelkern commented on #108
Es ist auf jeden fall besser als vorher. Aber so richtig gut finde ich es nicht. Es wirkt nicht so professionell. Und auch nicht zeitgemäß. Kann es aber nicht in Worte fassen. Ich frage mich immer warum man diesen Container überhaupt braucht. Man baut den hin, dann ändert man Hintergrund damit man ihn sieht. Aber er hat gar keine Funktion. Ich würde gerne mal was sehen ganz ohne Container. Mehr mi

[2015-04-15 20:31] TeNNoX commented on #108
So ein Zufall... :D
Ich hab in der letzten Zeit auch hin und wieder mit dem Design rumgespielt.
Hatte auch noch ein paar Ideen zu den Tabs.

[2015-04-15 20:31] FabiApfelkern commented on #108
Als Beispiel noch eben diese Issue-Seite. Kein Rahmen oder so. Nur Content.

[2015-04-15 20:41] TeNNoX commented on #108
@FabiApfelkern
http://i.gyazo.com/3fc75c271dd716d963926a0ce502c0e7.png
So einfach geht das nicht, ich finde das so nicht schön.

[2015-04-15 20:49] TeNNoX commented on #108
Eine Idee, die ich für die Tabs hatte:
http://i.gyazo.com/e338474783bb743c78dae0e6b23817d5.png
Ist aber nicht ganz passend zu dem restlichen Design.

[2015-04-16 07:59] IvenZ commented on #108
@TeNNoX gewöhn dich mal bitte dran, dass die Tabs jetzt Schriften haben ^^
Das werden wir erst einmal so lassen.

Bzgl mit dem Inhalt spielen:
Ohne Container funktioniert vielleicht für die Streams ganz gut.
Aber auf den Übersichtsseiten sieht das etwas komisch aus wenn das einfach irgendwie so im Raum hängt und keinen Bezug zu irgendeinem Rand oder so hat.
Vorallem irgendwelche Trenner, also hori

[2015-04-16 19:47] TeNNoX commented on #84
! zu beachten (Hinweis von Iven):
Sichtbarkeit der Posts vom gelöschten Account.
(vorher befreundete User dürfen sehen, andere nicht)

[2015-04-27 14:15] IvenZ commented on #43
@TeNNoX gibt es hier schon Neuigkeiten?
Hatte dich ja gebeten dir das mal anzugucken.

[2015-04-27 20:50] TeNNoX commented on #43
Hatte ich nicht mehr dran gedacht...
Was war da die Frage?
Wie man die Mails designed?

Sonst würde mir noch einfallen:
- EasyForwarding™
- GMail Direktlink

[2015-04-28 08:30] IvenZ commented on #43
Es gibt keine konkrete Frage :)
Es geht generell um das Ticket.
Die Notification-Mails brauchen ein Design.
Das muss nicht ausufernd sein.
Schlicht, schick und alle wichtigen Informationen.

Ein paar Anmerkungen dazu gibt es ja bereits weiter oben im Issue.

[2015-04-28 14:25] TeNNoX commented on #43
Ich würde mich mal ransetzen, und mir was überlegen.
Hab mir schon ein paar Sachen dazu angeguckt, wie man die für mobil und desktop optimiert.

Ich mach' einfach mal einen Entwurf...

[2015-04-28 15:14] IvenZ commented on #43
Danke

[2015-05-03 14:37] FabiApfelkern commented on #85
Anwendung:
 - Filter im privaten Newsstream

[2015-05-03 14:38] FabiApfelkern opened #111 "Newsstream-Inhalte filtern"
Filtern der Posts auf dem Newsstream nach:
 - Gruppe
 - Profil-Posts
 - Kurse
 - Favoriten

[2015-05-03 14:50] FabiApfelkern commented on #75
@De3pBlu3 Kannst du das noch fertig machen?

[2015-05-03 14:57] FabiApfelkern commented on #73
- Refactoring
 - Neue Felder:
   - Über mich
   - Homepage
   - Socia Media Links
   - Geburstag

[2015-05-03 15:00] #53 closed

[2015-05-03 15:02] #21 closed

[2015-05-03 15:11] #5 closed

[2015-05-03 15:37] FabiApfelkern opened #112 "Newsstream Refactoring (Kommentare markieren und Titel)"
Der Titel eines Posts auf dem Newsstream sollte eindeutiger sein und das Subjekt (z.B. Gruppe) als erstes nennen. Außerdem sollte klar sein, was sich genau geändert hat, z.B. Markierung des betreffenden Kommentars.

[2015-05-06 13:25] IvenZ commented on #83
kann getestet werden.

[2015-05-06 13:50] TeNNoX commented on #83
Chrome auf Window 8.1:
![send](https://cloud.githubusercontent.com/assets/2084639/7494374/844fb1ac-f407-11e4-864e-e28b525b7c21.png)

[2015-05-06 20:36] IvenZ commented on #83
wichtig ist, dass da nix rot durchgestrichen ist oder nachgefragt wird, ob man der verbindung vertrauen möchte

[2015-05-06 20:38] IvenZ commented on #111
Ich habe mir überlegt das in einem Dropdown mit Multiselect zu machen.
http://davidstutz.github.io/bootstrap-multiselect/

Wenn jemand eine schönere Idee hat, dann her damit. Am Wochenende fange ich an :)

[2015-05-07 06:48] FabiApfelkern commented on #111
Ganz spontan bin ich gegen Dropdown. Das ist ja ein zusätzlicher Klick. Nervt mich auf anderen Seiten auch oft. Aber würde mich jetzt nicht dagegen wehren.

[2015-05-07 06:57] FabiApfelkern commented on #111
Wie wäre es mit horizontal sortierten Buttons, die man einzeln aktivieren kann und damit den Filter einschaltet.

[2015-05-07 09:32] IvenZ commented on #111
Hatte ich zuerst auch im Sinn. Allerdings wird es meiner Meinung nach problematisch, wenn wir doch mal mehr als 4 Filter haben. Auch die Beschreibung der Filter wollte ich nicht auf ein Wort beschränken.
Bei einer horizontalen Anordnung kann es also passieren, dass eine gesamte Zeile mit Filter beschrieben ist.

[2015-05-07 13:15] IvenZ commented on #108
@FabiApfelkern Habe noch mal den privaten Newsstream ohne irgendwelche Border, Shadows oder Radiuses gemacht. Würdest du das so akzeptieren?  ^^

[2015-05-08 15:46] IvenZ commented on #111
Hier noch mal 2 Fragen :)
@FabiApfelkern Hast du dir das eher so wie bei Google+ vorgestellt?

![image](https://cloud.githubusercontent.com/assets/1950407/7539834/0b89bdcc-f5aa-11e4-9952-0c6ccbecbf82.png)

Dann könnte man natürlich die Dropdown weglassen.
Ich bin nämlich eher von einem Multiselect ausgegangen.

[2015-05-11 23:55] TeNNoX commented on #43
First prototype -> RFC :)

![send](https://cloud.githubusercontent.com/assets/2084639/7577567/fdebf688-f849-11e4-928f-d80ec2d326b0.png)

[2015-05-13 08:03] ryad-eldajani commented on #43
Gefällt mir sehr gut! Toll gemacht :+1:

[2015-05-13 14:04] IvenZ commented on #43
Mich erschlägt es ein bisschen. Und ich sehe nicht gleich was genau Phase ist :/

[2015-05-13 15:56] TeNNoX commented on #43
Ich fände es auch schöner, wenn man das Notification-System ein wenig
ändern würde...
Das speichern von 'gerendertem' Text in der Datenbank finde ich z.B. sehr
unschön.

Auch wäre es cool, wenn ich im Betreff den Notification Text und in der
E-Mail selbst z.B. den Kommentar selbst anzeigen würde.
On 13 May 2015 16:04, "Iven Zimmer" <notifications@github.com> wrote:

[2015-05-13 16:34] ryad-eldajani commented on #43
Jo, das Rendern war damals explizit so erwünscht, da es dann schneller ausgeliefert werden kann und nicht neu gerendert werden muss. Man kann sich natürlich über Sinn und Unsinn streiten :)

[2015-05-13 20:30] TeNNoX commented on #43
Daaaann machen wir's halt mit einen cache ;)

Ich würde mal mein Glück versuchen, wenn ihr nicht wirklich der Meinung
seid, dass man es nicht braucht.?
On 13 May 2015 18:34, "Ryad El-Dajani" <notifications@github.com> wrote:

[2015-05-14 06:41] FabiApfelkern commented on #43
Ich finde das Design auch etwas heavy. Die flachen, farbigen Buttons sind cool, aber muss die Schrifft so groß und fett sein?
Wie Ryad schon sagt, man kann sich darüber streiten, ob vor-rendern oder nicht besser. Wirklich zeigen kann sich das nur wenn man wirklich viele viele Nutzer hat. Aber Denormalisierung ist auf jeden Fall ein Grundkonzept von Performance-Optimierung. Die Frage ist eher: Waru

[2015-05-14 10:59] TeNNoX commented on #43
Die Schrift mach ich noch ein wenig kleiner, ich hatte das erstmal mit mobiler Ansicht im Hinterkopf gemacht, und da sollte man mindestens ~16px nehmen.

Ich kann noch nicht so wirklich gut testen, wie es auf anderen E-Mail-Clients aussieht. (Ist ja immer so ein Problem), habt ihr da eine Idee? (Ohne einen kostenpflichtigen Service wie Litmus o.ä. zu verwenden)

Zu notifications:
Ja, mein Perfekti

[2015-05-16 06:51] IvenZ commented on #43
1. Ich kannte mal einen Service bei dem du verschiedene Mail Anbieter gleichzeitig testen konntest.
Aber dann teste und optimiere es erst einmal für deine Testmöglichkeiten.
Wir gucken auch noch mal drüber.

2. Bzgl. Betreffzeile: Was steht in der Betreffzeile, wenn du unterschiedliche viele Notifications hast? Was bewertest du als wichtig und was nicht? Ob 'Neues auf HTWplus' sie verägert, weiß i

[2015-05-17 17:22] TeNNoX commented on #43
Mit der Betreffszeile habe ich mich nur auf Mails bezogen, in denen nur
eine notification ist. Sonst steht da natürlich nur 'X Neuigkeiten'...
On 16 May 2015 08:51, "Iven Zimmer" <notifications@github.com> wrote:

[2015-05-17 20:11] IvenZ commented on #111
So, ich habe gemerkt, dass ich mit dem aktuellen Stand nicht viel Spielraum für Filter habe.
Also habe ich noch mal die Post-Logik aufgeräumt.
Die Query setzt sich nun aus atomaren Abfragen zusammen.
Das ermöglicht eine präzise Filterung und ist offen für Ergänzungen.
Damit wurden auch ein paar Bugs behoben (z.B war es früher möglich, dass man immer noch Posts in einer Gruppe angezeigt bekommt, ob

[2015-05-18 17:00] IvenZ commented on #111
Ok, der aktuelle Stand ist aufm Develop und kann getestet werden.
Ich werde selber noch ausgiebig testen.
Wenn bis nächste Woche keine Anmerkungen sind, werde ich es deployen :-)

[2015-05-18 19:34] TeNNoX commented on #111
![send](https://cloud.githubusercontent.com/assets/2084639/7688445/b819e538-fda4-11e4-8c0b-708352c6c68d.png)

**-> Design-Vorschlag (Mockup):**
![send](https://cloud.githubusercontent.com/assets/2084639/7688459/d43f0252-fda4-11e4-97c9-5cb10e302cd3.png)

- **Filter:** margin oben reduziert
- **Filter:** margin unten entfernt
- **Filter:** Farbe von aktivem Filter auf schwarz, inaktiv auf grau
Aber

[2015-05-18 21:14] IvenZ commented on #111
Danke fürs anschauen @TeNNoX
Ich habe gerade noch mal eine aktuelle Version aufm Dev deployed.
Da sind ein Paar der von dir angesprochenen Design-Sachen schon realisiert.

Ich werde morgen noch ein bisschen rumspielen.
Allerdings auch aus bekannten Gründen nicht so viel Zeit ins Styling stecken.

Der Favoriten-Filter zeigt dir im Moment alle die von dir geschrieben Posts auf deinem Stream an.
Das

[2015-05-18 21:23] TeNNoX commented on #111
Aaaaalles klar :) :+1:
Naja, ich finde es verständlich, dass wir erstmal keinen Aufwand in ein redesign stecken wollen, aber für mich sind z.B. solche Sachen wie unsymmetrisches Padding ein Dorn im Auge... So Kleinigkeiten kann man doch machen :P

[2015-05-19 05:35] FabiApfelkern commented on #111
Danke Iven!
1. Sieht erstmal gut aus,
2. Kannst du "Die Query setzt sich nun aus atomaren Abfragen zusammen" genauer erklären?
3. Sachen die anders sein sollten:
 - Ich finde die Tooltips unnötig und hässlich an der Stelle. Entweder man versteh, dass es ein Filter ist oder nicht. Der Text in den Tips gibt auch nicht mehr Informationen
 - Favoriten ist an der Stelle garnicht klar, das sollte erstma

[2015-05-19 07:48] IvenZ commented on #111
So, ich habe eure Vorschläge mal aufgegriffen und noch mal geändert.
Ich persönlich finde die Button-Gruppe etwas zu "fett". Auch die kleinste Größe wirkt für mich etwas aufdringlich. Die in der Luft hängenden Links finde ich zwar auch nicht optimal, wären aber in der jetzigen Version mein Favorit.

 @FabiApfelkern
Für die Generierung des Newsstreams sind mehrere WHERE-Clauses in der Abfrage nötig

[2015-05-19 08:27] IvenZ commented on #108
Da die neue Filterfunktion ins neue light-Design einfließen sollten, wurde das hier nebenbei auch noch weiter entwickelt. Hauptsächlich gerade gezogen.

[2015-05-19 09:48] TeNNoX commented on #111
Ich finde die Version 1 deutlich besser...
Wie wäre es mit einem farbigen 'Trauerbalken' hier: ?
https://cloud.githubusercontent.com/assets/2084639/7688459/d43f0252-fda4-11e4-97c9-5cb10e302cd3.png

Oder wie wäre es mit sowas:
![unbenannt](https://cloud.githubusercontent.com/assets/2084639/7700163/f22f88a4-fe1c-11e4-850a-bd4a416fdcd0.png)

[2015-05-19 09:51] FabiApfelkern commented on #111
@IvenZ Kannst du das mit den Dropdown mal ausprobieren. Glaube mittlerweile das wäre am Besten.

[2015-05-19 17:11] IvenZ commented on #111
ok, ist deployed.
wie stellt ihr euch das mit der Anzeige des aktuellen Filters vor?
Ich habe es für den Moment mal so gemacht, dass die Buttonbeschriftung mit dem aktuellen Filter ergänzt wird.

[2015-05-19 18:44] FabiApfelkern commented on #111
Ich finde es ganz Klasse so!!

[2015-05-19 19:38] IvenZ commented on #111
So, habe den anderen Filter rausgenommen und den finalen(?) Button eingebaut :)
Habe ihn noch mal eine Stufe kleiner gemacht.

[2015-05-19 19:42] ryad-eldajani commented on #111
Ist echt nice geworden.

[2015-05-22 07:02] IvenZ commented on #84
Da ich am Sonntag deployen möchte -> Ist das Ticket jetzt eigentlich durch? @TeNNoX

[2015-05-22 12:34] TeNNoX commented on #84
Sollte nochmal getestet werden, aber eigentlich schon, ja...

[2015-05-23 18:53] IvenZ commented on #111
auf live deployed

[2015-05-23 18:53] #111 closed

[2015-05-23 18:53] IvenZ commented on #108
auf live deployed

[2015-05-23 18:53] #108 closed

[2015-05-23 18:53] IvenZ commented on #83
sollte ja wieder gehen

[2015-05-23 18:53] #83 closed

[2015-05-26 14:27] IvenZ commented on #85
Die erste Version ist auf Dev deployed und kann getestet werden.
Kurze Frage:
Wieso wollen wir Kommentare favorisieren?
Fürs Filtern fällt mir kein Grund ein, da wir sowieso den Eltern-Post zeigen?!
Für die Suche würde es Sinn machen, da diese Posts stärker im Suchergebnis gewichtet werden können.
Sonstige Ideen?

Ihr müsstet auch vielleicht noch mal 1,2 Worte zum Design sagen.
Soll der Stern blei

[2015-06-01 09:56] IvenZ commented on #85
aktueller stand auf master deployed

[2015-06-01 09:56] #85 closed

[2015-06-01 15:45] IvenZ opened #116 "Facettensuche"
Wollte ich eigentlich schon damals realisieren.
In einer ersten Version werden Facetten für Personen realisiert.

[2015-06-02 19:35] FabiApfelkern opened #117 "Migration zu Play 2.4"
https://playframework.com/documentation/2.4.x/Highlights24

[2015-06-02 20:48] FabiApfelkern commented on #117
Das ist wie immer alles nicht so leicht. Wird sicherlich etwas brauchen. Habe schon einige Abhängigkeiten erneuert, aber es knallt an allen Enden. Besonders durch die Einführung von DI in Play muss einiges gemacht. Auf den ersten Blick muss der Mailservice angepasst werden, das Plugin funktioniert jetzt etwas anders. https://github.com/playframework/play-mailer

[2015-06-03 08:37] IvenZ commented on #117
Willst du das erst einmal fertig haben, bevor wir weiter Features knallen? :)

[2015-06-03 11:11] FabiApfelkern commented on #117
Ne, mach mal weiter.

[2015-06-04 12:37] TeNNoX commented on #117
Meinst du das: ?
https://github.com/socia-platform/htwplus/commit/f7cc0c098c3c942e75f87b63e920b48e7da1f80b

Fabian Kirstein <notifications@github.com> schrieb am Di., 2. Juni 2015 um
22:48 Uhr:

[2015-06-04 13:50] FabiApfelkern commented on #117
Es gibt jetzt schon Mailer 3.0 extra für Play 2.4. Denke also es ist nochmal was anderes.

[2015-06-04 14:57] TeNNoX commented on #70
Soll ich die alte Seitenauswahl als <noscript> drinlassen?

[2015-06-04 15:53] TeNNoX commented on #85
Im Dropdown steht 'Gemerkte Posts', aber wenn man es auswählt steht da 'Favoriten'...

[2015-06-04 15:57] TeNNoX commented on #70
PR: https://github.com/socia-platform/htwplus/pull/118

[2015-06-04 16:17] TeNNoX commented on #84
Habe es nochmal getestet.
Ist auf dem Develop, bitte mal jemand anderes testen noch...

[2015-06-04 18:29] TeNNoX commented on #43
**Problem:**
Man braucht ja in den E-Mails für die Links die volle URL. Aber woher bekommt man die?
Afaik kann man die in Play nur aus dem Request bekommen. Auf diesen kann man allerdings z.B. im EmailService nicht zugreifen - der läuft ja asynchron...
1. Speichern wir das beim ersten Request auf 'Application.index()' in einer Variable?
2. Oder kommt das in eine Variable in der config?
3. Oder sol

[2015-06-05 05:08] FabiApfelkern commented on #43
Es ist völlig üblich für diesen Fall die Basis URL in der Konfiguration abzulegen. So habe ich es bisher überall gesehen. Das kann man dann auf jedem Server anpassen.

[2015-06-05 07:33] TeNNoX commented on #43
Okay, dann mach' ich dass so :)

On Fri, 5 Jun 2015 07:08 Fabian Kirstein <notifications@github.com> wrote:

[2015-06-05 09:55] IvenZ commented on #84
@TeNNoX
Habe gerade den ersten Test gemacht ...
Können sich LDAP User löschen?
Mein erster Gedanke war, welches PW sollen sie zur Löschung eingeben, das LDAP PW?
Habs dann ausprobiert und in nem 404 gelandet

[2015-06-05 10:18] IvenZ commented on #84
2. Sache:
Ich finde den Namen (Anonym @HTWplus) nicht intuitiv.
Ebenfalls erscheint es so, dass man ihn noch anklicken könnte.
Mein Vorschlag wäre ihn in 'Gelöschte Person' umzubennennen und wenn er irgendwo im Feed auftaucht, dann mit grauer Schrift und nicht klickbar.

Ansonsten scheint erst einmal alles zu funktionieren :+1:

[2015-06-05 10:59] FabiApfelkern commented on #70
Der Footer muss jetzt anders sein.
Und sagmal wird beim scrollen jedesmal die ganze HTML-Seite geladen?

[2015-06-05 11:37] TeNNoX commented on #70
Ja, in der tat. Kann man sich anders machen... Bin jetzt erstmal in
Richtung der einfachen Lösung gegangen (Programmierer-Faulheit und so)
Aber an sich ja...

Und was machen wir mit dem footer? Immer sichtbar?

On Fri, 5 Jun 2015 12:59 Fabian Kirstein <notifications@github.com> wrote:

[2015-06-05 11:39] TeNNoX commented on #84
Gut, mache ich noch :)

[2015-06-05 11:48] IvenZ commented on #70
Der Footer kommt oben in den Header unter einem extra Menüpunkt. (wieso habe ich das Ding geclosed?!)

[2015-06-05 12:37] De3pBlu3 commented on #70
Nach dem Laden der letzten Seite erscheint wieder der Loading-Indicator und
bleibt stehen.

2015-06-05 13:48 GMT+02:00 Iven Zimmer <notifications@github.com>:

[2015-06-05 12:44] TeNNoX commented on #70
Sorry, dass ich das vergessen hab :/

On Fri, 5 Jun 2015 13:48 Iven Zimmer <notifications@github.com> wrote:

[2015-06-08 10:10] TeNNoX commented on #15
Das "Avatare von http://www.afterglow.ie" im Impressum kann doch weg, oder?

[2015-06-08 10:12] TeNNoX commented on #70
Das sieht nicht ganz so super aus, in dem Drowndown.
Aber Submenus gibt es ja in Bootstrap nicht:
**"Submenus just don't have much of a place on the web right now, especially the mobile web. They will be removed with 3.0"**

![send](https://cloud.githubusercontent.com/assets/2084639/8032643/a97b003c-0dd7-11e5-8b4a-b22f1571c858.png)

Akzeptabel?

[2015-06-08 10:22] FabiApfelkern commented on #70
Ich finde es völlig ok!

[2015-06-08 10:24] De3pBlu3 commented on #70
Dito

2015-06-08 12:22 GMT+02:00 Fabian Kirstein <notifications@github.com>:

[2015-06-08 11:21] TeNNoX commented on #70
@De3pBlu3:

bleibt stehen.

Kann ich leider nicht reproduzieren... Kannst du dazu noch irgendwelche Details rausfinden?
Bzw. ist es jetzt immernoch so?

[2015-06-08 11:32] IvenZ commented on #15
Jo.

[2015-06-08 11:35] IvenZ commented on #70
bzgl. Footer im User-Menü: Jo, kannst so lassen.
Aber bitte achte darauf, dass auf der Landing-Page der Footer vorerst so bleibt.

[2015-06-08 12:18] De3pBlu3 commented on #70
Jetzt scheint alles zu passen :-)

2015-06-08 13:35 GMT+02:00 Iven Zimmer <notifications@github.com>:

[2015-06-08 12:21] IvenZ commented on #70
label bitte erst wieder ranhängen, wenn wieder getestet werden kann :)

[2015-06-08 12:21] IvenZ commented on #84
label bitte erst wieder ranhängen, wenn wieder getestet werden kann :)

[2015-06-08 16:47] TeNNoX commented on #70
... kann es doch :P

[2015-06-09 09:59] IvenZ commented on #70
Also bei mir läufts soweit ohne Probleme.
Kannst du aber vielleicht noch mal die Seite des ToTheTop-Buttons wechseln.
Ich erwarte ihn irgendwie immer auf der rechten Seite.

Und wenn man mit Handy unterwegs ist, wäre es vielleicht gut, wenn man nur den Pfeil anzeigt?
Das nimmt sonst ne Menge Platz weg.

[2015-06-09 10:01] FabiApfelkern commented on #70
Können wir aus den Footer Links die ein Modal öffnen richtige Seiten machen? Finde es komisch, wenn sich aus einem Dropdown ein Modal öffnet.
Ansonsten alles sehr super!

[2015-06-09 14:08] IvenZ opened #119 "New Bootstrap Grid System"
Um #116 zu stylen, brauche ich ein überarbeitetes Bootstrap-Layout.
Da es nicht nur für #116 gilt, sondern für die ganze Seite, bekommt es einen extra branch.

[2015-06-09 14:26] TeNNoX commented on #70
Ja, dachte ich auch, aber wenn man auf der mobilen Seiten ihn rechts hat, ist der einem doch beim Scrollen im weg, oder nicht?

Stimmt, mach ich noch :)

vielleicht in ein extra Issue?

[2015-06-09 14:55] IvenZ commented on #70
Also bei mir wäre er nicht im Weg.

Ich mach das mit dem Modal dann im Master. Wollte sowieso noch mal die Footer-Links aktualisieren.

[2015-06-10 09:30] IvenZ commented on #70
Eine Sache ist mir gerade noch aufgefallen.
Auf der Suchergebnisseite gibt es gar keine Pagination mehr. ;-)

[2015-06-17 21:09] TeNNoX commented on #70
So, sollte soweit alles funktionieren -> ready_to_test

[2015-06-17 21:13] TeNNoX commented on #84
Habe soeben meinen eigenen Account auf dem develop gelöscht, funktioniert soweit.

[2015-06-18 10:25] IvenZ commented on #70
Danke @TeNNoX :)

[2015-06-18 12:38] IvenZ commented on #70
jo, scrollt sich gut. :)
wenn es auch den anderen gefällt, landet es demnächst im master

[2015-06-18 12:42] IvenZ commented on #84
sehr schön. ich kann ebenfalls lokale und ldap accounts löschen.
wenn niemand mehr etwas vorbringen möchte landet es ebenfalls im master

[2015-06-29 15:01] IvenZ commented on #119
ist nun aufm master

[2015-06-29 15:01] #119 closed

[2015-06-29 15:01] IvenZ commented on #84
läuft nun im master

[2015-06-29 15:01] #84 closed

[2015-06-29 15:01] IvenZ commented on #70
läuft nun im master

[2015-06-29 15:01] #70 closed

[2015-06-29 15:05] IvenZ opened #123 "Content improvements"
Nachdem ich das Grid Design noch mal nachgezogen habe, möchte ich hier ein paar Features dafür entwickeln. Das wird verschiedene Seiten betreffen.
Im ersten Schritt vermutlich die Gruppendetail-Seite und der Newsstream.

[2015-06-30 21:26] TeNNoX commented on #43
Aktueller Status:
![send](https://cloud.githubusercontent.com/assets/2084639/8441789/e770be54-1f7a-11e5-955e-22e349331dcf.png)
-> Soll ich das auf den develop packen? Bringt ja nicht wirklich was, da da ja smtp.mock=yes eingestellt ist...

Eine Sache noch zu den GMail actions - da gibt es relativ umfangreiche Vorschriften:
https://developers.google.com/gmail/markup/registering-with-google
... die

[2015-06-30 21:30] TeNNoX commented on #43
Hab auf dem dem Server unter
**jenkins/jobs/dev.plus.f4.htw-berlin.de/workspace/conf/application.conf*
schon mal die Zeile
**htwplus.base_url="http://dev.plus.f4.htw-berlin.de"**
eingefügt...

[2015-07-01 13:44] IvenZ commented on #43
Was hat es mit den Gmail Actions aufsich?
Sind das Guidlines wie eine Mail aufgebaut sein sollte?

[2015-07-01 13:55] IvenZ commented on #43
Habe es gerade mit einer leeren DB und 2 Nutzern probiert...

[info] application - Created new notification for user: 7
[error] application - Invocation exception while render() template path: views.html.Emails.notificationsPlainText(null)
[error] application - Invocation exception while render() template path: views.html.Emails.notificationsHtml(null)
[info] application - Successfully sent 1 noti

[2015-07-01 14:15] IvenZ commented on #43
@TeNNoX
Ich habe eine neue DB aufgesetzt und das mocking ausgeschaltet.
Kannst nun also auch auf dev testen.

[2015-07-01 14:21] IvenZ commented on #43
[info] application - Created new notification for user: 1
[error] application - Error while trying to fetch notification for Post ID: 20, Recipient ID: 7: No entity found for query

[2015-07-02 20:50] TeNNoX commented on #43
Nein, das sind diese Quick-Actions... hatte glaube @FabiApfelkern mal in irgendeinem anderen Thread vorgeschlagen... -> [das sind actions](https://developers.google.com/gmail/markup/actions/actions-overview)

Könntest du das mal bei dir debuggen? Ich kann's nicht reproduzieren...

Meinst du eine neue Zeile einfügen, nach 'Hallo ...,' ?

Ergebnisse:
[kleinere Schrift](http://i.gyazo.com/3b3b52dc3de

[2015-07-05 11:55] IvenZ commented on #43
jo, so wie aufm 3. Bild.
Um die Notification kanns erst einmal bleiben. Dient ja dann als Link.

[2015-07-06 12:50] IvenZ commented on #43
Habe die Fehlermeldung noch mal reproduziert und weiß woran es liegt.
Ist nichts, was jetzt unbedingt behoben werden müsste.
Also alles ok.

[2015-07-08 19:59] IvenZ commented on #123
Soooo, der aktuelle Stand ist aufm Dev zu finden.

Mit mit neuen/alten Grid-System ist nun eine rechte Spalte Content-Boxen hinzugekommen.
Diese ist aktuell auf der Newsfeed- und Gruppennewsfeed-Seite zu finden.
Es soll aber nach und nach für weitere Views nachgezogen werden.

Ich verfolge damit so ein paar Ziele.
1. Ich möchte Dinge schneller erreichen können (nachm einloggen z.B. meine Kontakte

[2015-07-08 20:08] IvenZ commented on #43
hey @TeNNoX
Ich habs mir grad mal angesehen.... ich finde es ehrlich gesagt ohne Border ein bisschen besser.

Info: Für meinen 123-Branch habe ich auf Dev wieder eine alte DB mit mehr Daten eingespielt.
Um die Email Geschichte zu testen aber nicht ausversehen allen Nutzern ne Mail zu schicken, habe ich alle Email Adressen aus der DB entfernt. Wenn du testest, dann musst du den Test-Accounts wieder

[2015-07-09 08:48] FabiApfelkern commented on #123
Ich bin sehr unsicher was diese Sidebar angeht. @IvenZ Du hattest mich mal gefragt und ich war dagegen. Ich weiß immer noch nicht was das soll. Auf der Gruppen-Seite ist es ok, aber auf der Startseite nimmt es nur Platz weg. Das ist voll der 90er Jahre Forum Style. Wir haben doch die Suche um alles schnell zu finden. Ich fand es immer gut das alles so aufgeräumt bei uns ist. Dieses ganze Konzept v

[2015-07-09 18:45] IvenZ commented on #123
Hey Fabi, vielen Dank für dein Post.
Ich weiß, dass du dagegen warst :)
Das hält mich ja aber noch nicht ab ;-)
Ich glaube du hast auch gesagt, dass du es mal sehen müsstest.

Was die Sidebar auf dem Newsstream angeht, bin ich nach und nach deiner Meinung.
Ich finde es nicht mehr ganz so hübsch wie am Anfang und es ist richtig, dass Gruppen und Personen eigentlich wunderbar über die Suche zu errei

[2015-07-09 19:40] TeNNoX opened #124 "Deleted account shows up in search + avatar clickable"
![Bild](http://i.gyazo.com/f987bfa1c35124592a1b498739489458.png)

s.o.

[2015-07-09 19:45] TeNNoX opened #125 "Search shows less results than it promises"
![screenshot](http://i.gyazo.com/f987bfa1c35124592a1b498739489458.png)

Sind 3 Ergebnisse statt 5...
Die Gruppen und Kurse fehlen

**Screenshot kommt vom dev** - auf dem Master passiert das auf den ersten Blick nicht...

[2015-07-09 21:31] IvenZ commented on #125
:)
Brauchst du aktuell die Suche?
Der Elasticsearch-Dev-Index ist noch auf dem alten DB stand.
Deshalb passt das nicht.

[2015-07-10 07:05] TeNNoX commented on #125
Alles klar :P

Ist das zu zeitaufwändig, oder könnte man den index nicht beim Start einmal auffrischen?

[2015-07-10 07:17] IvenZ commented on #125
Nö, könnte man durchaus mal machen.
Ich habe noch ein paar andere ES Verbesserungen. Ich notiere es mir mal.

ps: Ich habe den Index auf Dev mal neu gemacht. Kann es sein, dass auf der Gruppen-Ergebnissseite die Pagination nicht funktioniert?

[2015-07-10 14:28] TeNNoX commented on #123
Also die Gruppen-Sidebar als Admin gefällt mir, auf der Homepage finde ich sie im Moment auch eher unnötig, aber sie ist bei mir auch fast leer...

Und ich würde Links und Gliederung usw. eher links vom Content erwarten. Optionen und Informationen rechts.

Und wieso nimmt die Sidebar etwas vom main-container weg? Kann die nicht bei Bedarf daneben?
Ist sonst komisch, auf manchen Seiten hat man die

[2015-07-10 14:46] TeNNoX commented on #125
Funktioniert bei mir...

ich close mal ;)

[2015-07-10 14:46] #125 closed

[2015-07-15 12:51] IvenZ commented on #123
So, ich habe noch mal ein paar Anpassung gemacht.
- Es gibt nur noch einen Info und Options-Container für die Gruppen-Newsstream-Seite.
- Navtabs habe ich rausgenommen
- Medien-Container ist rausgeflogen, dafür gibt einen Link innerhalb des Info-Containers
- Mitglieder werden nur durch Avatare angezeigt (hover: kompletter Name)
- Fixed positioniert, damit es an der Seite mitscrollt.

Könnt ihr dam

[2015-07-15 14:39] IvenZ commented on #86
Aus gegebenen Anlass habe ich mich mal um dieses Ticket gekümmert.

Als Admin ist es nun möglich Accounts zu editieren.
Ihr findet bei jedem Account einen weiteren "Account konvertieren" Button
Einfach EMail und PW setzen und dann klappt der lokale Login.

[2015-07-15 16:06] FabiApfelkern commented on #86
Klasse! Danke,

[2015-07-16 10:11] IvenZ commented on #43
@TeNNoX
Bist du soweit durch?
Ich würde das dann diese Woche gerne noch deployen.

[2015-07-16 11:32] TeNNoX commented on #43
Bis auf ein paar Optimierungen bin ich durch, ja :)

Wollte noch ein paar Sachen für mobil ändern und so.

[2015-07-16 13:54] IvenZ commented on #43
ok, dann warte ich noch

[2015-07-17 16:42] IvenZ commented on #116
So, hier ist auch mal wieder etwas passiert.
Auf Develop könnt ihr euch den aktuellen Stand angucken.
Bisher gibt es nur User-Facetten.

[2015-07-17 18:33] FabiApfelkern commented on #116
Cool! Ich schreibe nochmal mehr dazu. Mir ist nur ein Fehler aufgefallen. Einmal nach Semester 3 filtern. Dann sieht mann 22 Ergebnisse. Man kann trotzdem ewig weiterscrollen.

[2015-07-17 18:35] FabiApfelkern commented on #116
Liegt wohl daran, dass die Get-Parameter nicht an den AJAX Aufruf weitergegeben werden.

[2015-07-17 21:50] IvenZ commented on #116
Jap, das kann sein. Guck ich mir noch mal an, danke.

[2015-07-18 08:35] IvenZ commented on #116
QuickFix xD

[2015-07-19 11:40] FabiApfelkern commented on #117
@TeNNoX Mit welchem SMTP-Server testes du bei dir lokal die Mailsache?

[2015-07-19 11:54] FabiApfelkern commented on #117
Kleine Zwischenbericht hierzu: Ich habe alles soweit mit Play 2.4.2 zum Laufen gebracht. Es gibt noch folgende Probleme:
- das Mail-Plugin geht nicht, ich denke es liegt an meinem Unverständnins bzgl. Dependency Injection, ich muss mal nachfragen bei den Play Leuten
- die initialen Evolutions klappen jetzt nicht mehr, da sie nun ausgeführt werden BEVOR die Tabellen überhaupt angelegt werden, auch

[2015-07-20 07:30] IvenZ commented on #117
Der aktuelle Stand ist im Branch, oder?
Dann könnte ich mir das auch mal angucken, wenn gewünscht.

[2015-07-20 07:47] FabiApfelkern commented on #117
Kannst du machen. Ist aber nicht nötig. Ich würde dich bitten es zu testen wenn ich durch bin. Ist in einem Zwischenstand. Und viele Köche....

[2015-07-20 09:29] IvenZ commented on #117
Ok. Du schaffst das! :dancer: :+1:

[2015-07-21 14:25] IvenZ commented on #116
So, aktueller Stand ist aufm Dev.
Hinzugekommen ist noch eine Facette für Gruppen-Ergebnisse.

Wenn euch eine Kategoriesierung für Posts einfallen, lasst es mich wissen.
Ansonsten kann das hier ein bisschen getestet werden.

[2015-07-21 14:31] IvenZ opened #126 "Media Search"
Neben Personen, Gruppen und Posts sollen zukünftig auch Media Files über die Suche gefunden werden können. Das ist das Ticket dafür.
Das Feature ist für die Autovervollständigung sowieo die normale Suchergebnisseite zu entwickeln.

[2015-07-28 08:03] IvenZ commented on #73
@TeNNoX Wie weit ist dieses Ticket hier eigentlich gekommen?

[2015-07-28 10:42] IvenZ commented on #43
deployed on master

[2015-07-28 10:42] #43 closed

[2015-07-28 10:42] IvenZ commented on #86
deployed on master

[2015-07-28 10:42] #86 closed

[2015-07-28 11:07] IvenZ commented on #16
Ich habe mir hierzu noch mal ein paar Gedanken gemacht und wollte das Ergebnis mal festhalten (und teilen).
Hauptsächlich möchte ich diese Broadcast-Funktion zum Ankündigen für neuer Features benutzen.

Dabei möchte ich das Notification-System nutzen. Im Admin Backend gibt es die Möglichkeit, eine Notification für alle Nutzer zu generieren (unabhängig ob befreundet oder einer Gruppe zugehörig).
Di

[2015-07-31 09:36] TeNNoX commented on #73
Ich habe - glaube ich die Profilseite schon auf Bootstrap umgestellt, und
bei dem anderen ein wenig angefangen. Aber ich habe im Moment keine zeit,
mir das anzuschauen.. :/

[2015-08-03 09:05] FabiApfelkern commented on #16
Ich stimme dem plan zu!
Nur das zusammenbauen der mail sehe ich kritisch. Wenn keine Adresse da ist, wird keine Mail verschickt.

[2015-08-03 09:55] IvenZ commented on #73
alles klar. Danke.
Ich schau mir den Rest mal an.

[2015-08-03 12:20] IvenZ commented on #73
Habe noch 2 Felder geadded.
@FabiApfelkern wie hast du dir Geburtstag und Social Media Links vorgestellt?

Aktueller Stand ist auf dev.

[2015-08-03 12:30] IvenZ commented on #74
Ich werde hier jetzt Stück für Stück anfangen das Medienmanagement rüber zu ziehen.

[2015-08-06 11:13] IvenZ commented on #123
@FabiApfelkern
Ich werd damit doch nicht glücklich :-(
Ich dachte ich könnte das 1,2,3 fertig machen aber irgendwie gefällt es mir alles nicht.

Wollte gestern das Profil umstellen aber das passt vorne und hinten nicht.

Ich weiß aber auch, dass mir das aktuelle nicht gefällt. Ich dreh mich aber im Kreis, wenn ich versuche etwas neues zu schaffen. Meinst du wir können noch mal drüber quatschen?

[2015-08-07 07:01] FabiApfelkern commented on #123
Natürlich können wir darüber reden. Am WE irgendwie.... Schreib mich an wenn ich online bin.

[2015-08-07 08:52] IvenZ commented on #123
:+1:

[2015-08-07 15:29] IvenZ commented on #123
Aktueller Stand ist auf dev.
Es ist keine finale Version.
Soll aber die Basis für die Besprechung sein :-)

[2015-08-07 17:48] FabiApfelkern commented on #123
Der neue post style sieht super aus!

[2015-08-12 12:48] IvenZ commented on #74
Ein erster Stand zum Folder-Management ist erreicht:

Ordner wurden mit folgendem Gedanken implementiert:

Folder ist ein eigenes Model.
Folder hat "group, account, parent" Eigenschaften die symbolisieren, ob der Folder zu einer Gruppe, einer Person oder zu einem anderen Folder gehört (wie unserer Posts).

Das Erstellen eines Folders passierts im jeweiligen Controller (Group, Account etc).
Grund:

[2015-08-12 12:55] TeNNoX commented on #74
Ich finde ja, man sollte die Implementierung der Ordner-Besitzer anders
implementieren. Das hat mich schon beim Post geärgert...

Ich fände es sauberer, wenn man z. B. Ein Interface IFolderOwner und
IPostOwner macht, und dann Group, Folder und Account das implementieren...
Sonst besteht immer die Gefahr von Bugs, wenn man z. B. Mehrere
owner-felder gleichzeitig setzt, oder wenn man einen neuen Fol

[2015-08-12 17:39] IvenZ commented on #74
Was verstehst du unter mehrere owner-Felder? Oder owner-Typen?
Kann da nicht ganz folgen :)

[2015-08-12 18:44] TeNNoX commented on #74
Ist ja praktisch der owner von dem Ordner (und analog dem Post)...

On Wed, Aug 12, 2015, 19:39 Iven Zimmer <notifications@github.com> wrote:

[2015-08-13 07:24] FabiApfelkern commented on #74
Vielen Dank für die detailliert Beschreibung. Ich bin wie immer anderer Meinung und denke, dass dein Architekturentwurf ungünstig ist.
Ich würde in jedem Fall daraus ein eigenes Modul machen mit eigenen Controllern, Models und Libs. Und versuchen kaum bis keine Funktionalität in die Group- oder Account-Controller zu packen. Verantwortlichkeiten sollten immer klar getrennt sein, um Wiederverwendbar

[2015-08-13 09:23] IvenZ commented on #74
uiuiui. das erzeugt ja ganz schöne wellen
@TeNNoX was hat dich denn genau geärgert oder gestört?
wo gab es probleme?

ich bin irgendwie nicht so der richtige freund von interfaces (vermutlich auch, weil ich sie noch nie gewinnbringend eingesetzt habe)
Was würden mir interfaces bieten, was mir die aktuelle Implementierung nicht bietet?

@FabiApfelkern Das ist eine Menge bei der mein Kopf keinen Ans

[2015-08-14 13:56] IvenZ opened #131 "Mail broken"
hey @TeNNoX
ich habe festgestellt, dass Notification-Mails kaputt gehen, wenn sie einen Zeilenumbruch im Text enthalten bevor er abgeschnitten wird

z.B.
Post:

wird zu

und wird richtig dargestellt

Aber
Post:

hat vor dem abgeschnittenen bereits ein Umbruch drin und wird nicht richtig erkannt.
Ist dann nur Plain Text und kein HTML mehr.
Sieht ungefähr so aus:

 Newsstream
MIME-Version: 1.0
Conte

[2015-08-14 14:00] IvenZ commented on #116
deployed

[2015-08-14 14:00] #116 closed

[2015-08-14 14:00] IvenZ commented on #73
deployed

[2015-08-14 14:00] #73 closed

[2015-08-26 07:28] FabiApfelkern commented on #117
@Iven Kannst du den 2.4 Branch mal testen bitte? Am besten mit einer leeren Datenbank. Ich habe folgende Probleme noch:
- Evolutions werden nicht ordentlich ausgeführt
- Manchmal komische Fehlermeldung bzgl. Entity Manager im Notification Scheduler

[2015-08-26 07:53] iven commented on #117
@FabiApfelkern Unsubscribe.

[2015-08-26 10:36] IvenZ commented on #117
Alles klar. Werde berichten ...

[2015-08-26 14:15] IvenZ commented on #117
Also bei der Evolution sind einfach die DB Tabellen noch nicht vorhanden
Dann failed das natürlich.
Komischerweise werden bei Play < 2.4 die Einträge vorher gemacht, bevor die Scripte ausgeführt werden. Hab noch nicht geschaut ob und wo man die Reihenfolge ändern kann

[2015-08-26 14:17] FabiApfelkern commented on #117
Ja genau so sehe ich das auch. Hatte ich hier schon erwähnt. Ich denke es gibt keine Lösung. Habe versucht mir Hilfe zu holen: http://stackoverflow.com/questions/31502061/play-evolutions-and-jpa-in-play-framework-2-4
Interessiert aber keinen.

[2015-08-26 14:18] IvenZ commented on #117
ah stimmt. Hattest du schon einmal erwähnt.

[2015-08-26 14:24] IvenZ commented on #117
Habe mal in der app.conf evolutionplugin=enabled nachgetragen (war auskommentiert)
und jetzt gehts bei mir

[2015-08-26 14:28] FabiApfelkern commented on #117
echt? ich checke das heute abend mal bei mir.

[2015-08-26 14:28] IvenZ commented on #117
Jop.
und das:

kannst du wahrscheinlich nicht reproduzieren?

[2015-08-26 14:31] FabiApfelkern commented on #117
Ich starte das ganze ja direkt mit IntelliJ und da kommt es wenn ich die Plus neustarte.

[2015-08-26 14:35] IvenZ commented on #117
Hm, ok, das habe ich noch nicht beobachten können.
Aber du kannst ja mal nen stacktrace posten wenns das nächste Mal passiert.

[2015-08-26 19:49] FabiApfelkern commented on #117
Ok, hab es ausprobiert. Bei mir hilft evolutionplugin=enabled nicht. Bist du dir sicher, dass du die DB nochmal geleert hast vorher? Laut Doku sollte das auch nicht bringen:

"Evolutions are automatically activated if a database is configured in application.conf and evolution scripts are present. You can disable them by setting play.evolutions.enabled=false"

Zu der anderen Sache: Bekomme folgende

[2015-08-27 16:54] IvenZ commented on #117
Du hast recht. Die Einträge waren wohl noch vorhanden.
Ich habe auch keine weitere Lösung für das Problem gefunden.
Aber ich glaube, dass wir die Evolutions auch missbrauchen und sie gar nicht für unser Vorhaben gedacht ist.

Wenn man mal nach Initial Data schaut findet man sowas hier:
http://stackoverflow.com/questions/26934354/how-to-load-insert-initial-data-into-database-with-ebean-in-play-fram

[2015-08-28 07:49] FabiApfelkern commented on #117
Ich glaube nicht das wir das missbrauchen. Das ist doch für Datenbankmigration. Die Datenbank ändert sich und man führt ein Migrationsskript aus. Genau in dieser Reihenfolge. Man könnte mal folgendes probieren: In einem Model ein Feld hinzufügen und das dann mit einem Evloution-Skript auf einene Default-Wert setzen. Mal sehen in welcher reihenfolge das ausgeführt wird. Falls das gehen sollte, könn

[2015-08-28 12:34] IvenZ commented on #117
Also ich verstehe das eben genau so

Wenn ich eine DB neu aufsetze, bzw ein Projekt welches mir aber Tabellen und co. erzeugt, findet in diesem Moment keine Evolution statt. Erst wenn alles vorhanden ist und im Laufe der Entwicklung etwas am DB Schema geändert werden muss, dann ist es für mich eine Evolution.

Ist auch egal. Auf irgendeinem Weg müssen wir es erreichen.
Deinen Vorschlag habe ich al

[2015-08-28 12:42] FabiApfelkern commented on #117
Nein. Du sollst die DB migrieren. Also ein Model ändern, z.B. ein Feld also eine Property hinzufügen. Gleichzeitig legst du ein Evolution Skript an, welches etwas in dieses neu Feld schreibt. Sollte wieder das Skript vor Hibernate ausgeführt werden, failed das natürlich.

[2015-11-08 08:55] IvenZ commented on #117
Ich hab das hier noch mal getestet.
Also es failed auch. Das Script wird vor Hibernate ausgeführt.

[2015-11-08 14:53] IvenZ commented on #117
So, also meine heutigen Recherchen haben mich nur wieder auf den Weg wie im Kommentar vom 27.8 gebracht. Wir sollten die Global komplett refactoren und Initial Data wie von Play vorgeschlagen durch DI regeln lassen und das Zeugs an die Klassen selber hängen.

Im Moment ist es sowieso sehr unschön. Unserer "Startup"-Gruppen oder der Admin Account wird über die Global erstellt und die studycourse-Ku

[2015-11-08 15:45] FabiApfelkern commented on #117
Ich denke du hast Recht wir haben keine Wahl. Ich habe aber nochmal auf Stack Overflow eine Bounty auf meine Frage erstellt. Vielleicht kommt noch was. Irgendwie ist das ja schon ein Bug in Play. Und insgesamt finde ich es krass, dass es bis heute keine ordentliche Migrationsunterstützung gibt in Hibernate. Dagegen is es purer Luxus mit Django zu entwickeln. Aber wie auch immer es gibt keine Lösun

[2015-11-09 17:02] FabiApfelkern opened #133 "Create Un-Branded Socia Version"
We do need an un-branded version of Socia, for demo purposes.
This includes:

- Removal of every HTW reference
- Change of color schema into a neutral style
- Removal of references to HTW addresses in the code (e.g. LDAP address)
- Removal or renaming of course feature
- Removal of study course field in profile
- Possibility to create an non LDAP account (register)
- ...

[2015-11-10 13:18] IvenZ commented on #133
check

[2015-11-10 13:19] IvenZ commented on #117
Alles klar.
Ich weiß jetzt auch ungefähr wie es geklingt die Global zu refactoren.
Werde das die Tage mal ausprobieren und schauen, ob dann die Ex weg geht.

[2015-11-14 15:49] IvenZ commented on #133
schau mal, ob dir das soweit zusagt.

[2015-11-14 17:52] FabiApfelkern commented on #133
Danke. Weiß noch nicht wann ich das schaffe. Kannst du vielleicht ein zwei Screenshots posten?

[2015-11-19 09:38] IvenZ commented on #133
Jo, schaff ich aber auch erst wieder am WE

[2015-11-22 10:48] IvenZ commented on #133
hier ein paar Screens...

![landing](https://cloud.githubusercontent.com/assets/1950407/11323269/c5a00d9c-910e-11e5-93b9-778224737949.png)

![groups](https://cloud.githubusercontent.com/assets/1950407/11323276/ef0d62f6-910e-11e5-80be-f1e5ac785b96.png)

![creategroup](https://cloud.githubusercontent.com/assets/1950407/11323277/f172c464-910e-11e5-92a6-10c56eab8f17.png)

![editprofile](https://cloud.

[2015-11-25 19:17] FabiApfelkern commented on #133
Danke erstmal! Sehr gut. Ich übernehme es von hier.

[2015-11-25 21:41] FabiApfelkern commented on #133
Ich hab ein neues Theme rübergelegt und das ganze hier in ausgelagert: https://github.com/socia-platform/socia

[2015-11-28 13:06] IvenZ commented on #133
sehr schön. habe dann noch letzte branding-änderungen vorgenommen und mach dann hier zu :-)

[2015-11-28 13:06] #133 closed

[2015-12-08 12:31] IvenZ commented on #117
strage... im aktuellen Stand scheinen die Evo-Skripte wieder zu laufen. Hatte jetzt gar nicht so sehr drauf geachtet, aber wenn ich neu aufsetze scheint es keine Probleme zu geben.

[2015-12-08 13:52] FabiApfelkern commented on #117
kann doch garnicht sein. du hast bestimmt nen falschen branch. :)

[2015-12-11 16:26] IvenZ commented on #117
So Fabi, ich bin jetzt an einem Punkt an dem mir unsere Architektur ein bisschen auf die Füße fällt (glaube ich zumindest).

Es besteht das Problem, dass alle Eingaben die durch eine Form passieren (so ziemlich alle) nicht DI tauglich sind.
Konkret: z.B. unser Account Model injected ab jetzt den ElasticsearchService (immer wenn ein Account angelegt oder geupdated wird, soll die Änderung ja auch im

[2015-12-11 17:03] FabiApfelkern commented on #117
Ich finde ja die Form-Sache in Play ist eine der besten Dinge an dem Framework. Wir sollten das nicht anrühren. Also eher Model und Model-Methoden trennen oder? Was hättest du den für eine Lösung.

[2015-12-12 14:05] IvenZ commented on #117
z.B. ne DAO-Klasse würde uns an dieser Stelle ein bisschen helfen. Sie kann im Controller injected werden, injected selber ne ES Instanz und nimmt dann einfach nur das entsprechende Model entgegen.

[2015-12-13 19:59] FabiApfelkern commented on #117
Lass uns die woche mal skypen dazu. Aber eine Frage: Wie machst du das grundsätzlich mit DI und Models. Ich hatte das Problem, dass ja Hibernate die Instanzen erstellt und da hat DI auch nicht funktioniert?

[2015-12-14 09:32] IvenZ commented on #117
An welchen Stellen genau?
Die Controller habe ich kaum angefasst.
Die bisherigen Änderungen betrafen nur das Anpassen der Global

[2015-12-14 10:30] FabiApfelkern commented on #117
In allen Models! Hat bei mir nie geklappt.

[2016-01-07 10:02] IvenZ commented on #117
Ich glaube es ist vollbracht.
Würde den aktuellen Stand nun als arbeitsfähig attestieren.
Vielleicht gibt es hier oder da noch einen Bug.
Konnte ich mit mein bissel rumgespiele aber aktuell nicht ausmachen.

Wenn du möchtest, kannst du dir das Ding nun als Socia Basis nehmen.

[2016-01-07 10:03] FabiApfelkern commented on #117
Ich werde das heute Abend oder morgen mal testen. Danke!!!

[2016-01-11 13:42] IvenZ commented on #117
Habe noch ein paar Sachen gefunden und behoben.

[2016-01-16 12:06] FabiApfelkern commented on #117
Ich bekomme den Branch nicht zum laufen. Muss ich noch was beachten. Ich hab ne komplett neue Datenbank angelegt und alles wie immer gebaut. Er bleibt einfach bei diesem Stand komplett stehen:

[code]

Es passiert einfach nichts. Im Browser wartet er ewig auf eine Antwort. Elastic sagt das:

[code]

Eine Idee?

[2016-01-17 19:07] IvenZ commented on #117
Hm, also diesen Fehler habe ich nicht, aber dafür einen Anderen.
Ich versuche das mal morgen zu berichtigen.

Ansonsten: aktuellen ES Server? alle Änderungen aus der app.sample.conf übernommen?

[2016-01-18 06:49] FabiApfelkern commented on #117
Hab die sample komplett neu kopiert. ES hab ich noch 1.4 Was soll ich denn nehmen?

[2016-01-18 08:16] IvenZ commented on #117
2.1 ist meine Aktuelle

[2016-01-18 08:34] FabiApfelkern commented on #117
ok. ich teste später nochmal mit der version.

[2016-01-18 08:41] IvenZ commented on #117
dann zieh dir noch mal meinen fix und dann müsste es auch durchlaufen ;-)

[2016-01-24 11:03] FabiApfelkern commented on #117
Läuft! Lag echt an der Elasticsearch Version.

[2016-02-01 17:44] FabiApfelkern commented on #117
@IvenZ Are you planing to merge this?

[2016-02-04 10:23] IvenZ commented on #117
Ja, am Wochenende :-)

[2016-02-06 20:17] FabiApfelkern commented on #117
Ich dachte es wäre schon?

[2016-02-07 17:56] FabiApfelkern opened #134 "User Data is not reindexed after update"
If an account models gets updated the changes are not reflected in the search index. E.g. you change the firstname, then you got two users in the index, where one does not exist.

[2016-02-08 10:49] IvenZ commented on #117
Ok, nicht, dass es zur Verwirrung kommt:
Der aktuelle Master ist in diesem Branch drinne.
Dieser Branch sollte am Wochenende zum aktuellen Master werden.
Dann hatte ich aber mein Netzteil auf Arbeit vergessen und ich werde jetzt noch diese Woche (Klausurenphase) abwarten.
Also nächste Woche dann.

[2016-02-08 11:23] IvenZ commented on #134
thx. fixed in #117

[2016-03-15 14:21] IvenZ opened #140 "Markdown Editor"
Da Posts ein Kernfeature in Plus sind, müssen diese durch Markdown (http://daringfireball.net/projects/markdown/) verbessert/ergänzt werden.

Hier das Ticket dafür

[2016-03-15 14:24] IvenZ commented on #117
merged in master

[2016-03-15 14:24] #117 closed

[2016-03-15 14:24] IvenZ commented on #134
merged in master

[2016-03-15 14:24] #134 closed

[2016-03-15 14:24] IvenZ commented on #123
merged in master

[2016-03-15 14:24] #123 closed

[2016-03-15 14:27] IvenZ commented on #74
vorerst abgeschlossen.
drag & drop sowie upload-anzeige werden in weiteren versionen realisiert.

merged in master

[2016-03-15 14:27] #74 closed

[2016-04-09 12:18] FabiApfelkern commented on #140
Ablauf für Post-Dateiupload:
- Upload-Button oder Drag & Drop in Post oder Kommentar
- Datei(en) wird sofort in speziellen Medienordner geladen
- Link zu Datei wird automatisch in Text eingefügt

[2016-04-21 20:21] FabiApfelkern opened #143 "Websocket not working on production"
The websocket (hence the real-time notifications) is not working on production. It seems that the wss:// protocol is not configured correctly and redirects to https://plus.... Can be monitored with the network console of Chrome.

[2016-04-22 10:41] FabiApfelkern commented on #143
I fixed it on my Socia fork with the following nginx config: https://www.nginx.com/blog/websocket-nginx/
But for Plus we are using Apache, aren't we?

[2016-04-24 19:07] IvenZ commented on #143
yessss

[2016-04-24 19:14] FabiApfelkern commented on #143
Have you changed anything recently?

[2016-04-24 19:30] FabiApfelkern commented on #143
I cannot access the server, can I? I have no HTW VPN anymore.

[2016-04-25 11:33] IvenZ commented on #143
not necessary. did you try root or local? use local to access the server (dropbox server sheet)

[2016-04-25 19:02] FabiApfelkern commented on #143
Yes this is working. Thanks! I will have a look soon.

[2016-04-26 21:47] FabiApfelkern opened #145 "Notification for new media in folder not working"
When you upload a new file to a folder no notification is created. The reason is that a folder has no group assigned to it. That's why the notification is never created: https://github.com/socia-platform/htwplus/blob/master/app/models/Media.java#L64

I'm not sure what the best way to fix it is? Probably always set a group for a folder.

[2016-04-26 22:43] FabiApfelkern opened #146 "Deletion of "Meine Dateien" not possible"
See Subject...

[2016-04-26 22:44] FabiApfelkern opened #147 "Evolutions 3.sql causes error when fresh installing"
3.sql does not work when the DB is already initialized with rootfolder_id

[2016-04-27 15:10] IvenZ commented on #145
my fault
i only tested it with media in root folders
now it should work
+ correct notification-link if a media is within a subfolder

[2016-04-27 15:20] IvenZ commented on #146
thanks for the reminder ;-)

this ticket should also fix:
- folder creation
- download file(s)

[2016-04-27 18:57] FabiApfelkern opened #149 "Account Deletion not working"
You can not delete an account because of a foreign key constraint.

`Caused by: org.postgresql.util.PSQLException: FEHLER: Aktualisieren oder Löschen in Tabelle „account“ verletzt Fremdschlüssel-Constraint „fk_gkqik7byxub0htwmyfilwa1gi“ von Tabelle „folder“
  Detail: Auf Schlüssel (id)=(97) wird noch aus Tabelle „folder“ verwiesen.
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(

[2016-04-28 09:33] IvenZ commented on #147
need to think about all of this ^^
-> #152

[2016-05-04 09:27] IvenZ commented on #140
Shortcut für Dateien:
Es muss die Möglichkeit geben, einfach und schnell seine eigenen Dateien zugreifen/verlinken zu können. Beispielsweise über einen shortcut mit autocompletion über die Tastatur oder eine Art Galerie.

[2016-05-04 09:32] FabiApfelkern commented on #140
So eine autocompletion solte wir eh mal möglichst generisch haben, um auch andere dinge schnell zu verlinken - kontakte, gruppen, etc.

[2016-05-07 17:23] FabiApfelkern opened #153 "Markdown in Comments"
Please check the comment field in Firefox. The placeholder is cut of.
And I'm not that happy with the integration into the comment field. It looks somehow strange and more important it is not possible to hide it again. It should hide when you click outside of it.

[2016-05-09 07:43] IvenZ commented on #153
1. can you please test the master branch, its already merged.
2. "looks somehow strange" .. this is always our problem ;-)
good point to hide it. maybe it makes a bit less strange :D

[2016-05-09 12:34] IvenZ commented on #153
hmmm
"click outside of it" = blur event?

not really convenient. now every time i want to drag&drop a file, the editor disappears.
other suggestions? maybe a cancel button?

[2016-05-16 13:30] IvenZ commented on #149
deployed

[2016-05-16 13:30] #149 closed

[2016-05-16 13:30] IvenZ commented on #147
deployed

[2016-05-16 13:30] #147 closed

[2016-05-16 13:31] IvenZ commented on #146
deployed

[2016-05-16 13:31] #146 closed

[2016-05-16 13:31] IvenZ commented on #145
deployed

[2016-05-16 13:31] #145 closed

[2016-05-16 14:03] IvenZ commented on #140
Verlinkung von Bildern:
Wird ein sehr großes Bild (vorallem breit) im Post verlinkt, wird es auf die maximale Postbreite skaliert.
Es ist möglich, dass das Bild damit nicht mehr erkennbar ist.
Im Idealfall sollte es zusätzlich als Link angezeigt werden, damit mit einem Klick das gesamte Bild betrachtet werden kann.

[2016-05-16 16:24] #153 closed

[2016-05-16 16:25] FabiApfelkern commented on #140
Fortsetzung von: https://github.com/socia-platform/htwplus/issues/153
Das mit dem Markdown in den Kommentaren kann ich so nicht in meinen Branch nehmen. Kriegen wir das nochmal kurzfristig raus? Brauche die anderen Sachen aber.

[2016-05-17 07:36] IvenZ commented on #140
Klar.
git revert ddaef8600749784da22c0f2e7a9f5c1d2e2c738e
Da ist sonst nix drinne, was für den aktuellen Master wichtig wäre.

[2016-05-18 16:25] IvenZ commented on #140
Es gibt jetzt einen Button.
Kannst ja mal schauen, obs dir gefällt.

[2016-05-24 13:16] IvenZ commented on #124
wird schon lange nicht mehr angezeigt

[2016-05-24 13:16] #124 closed

[2016-05-24 13:17] IvenZ commented on #91
War das hier abgeschlossen?

[2016-05-25 09:55] IvenZ commented on #131
direkt im master gefixt

[2016-05-25 09:55] #131 closed

[2016-05-29 15:56] FabiApfelkern commented on #140
Der ist aber nicht im Master, oder?

[2016-05-29 15:59] FabiApfelkern commented on #140
Der ist aber nicht im Master, oder?

[2016-05-29 16:04] FabiApfelkern commented on #140
Hab selber rausgefunden. Ist er nicht. :)

[2016-05-29 16:33] FabiApfelkern commented on #140
Hab das mal gefixt dass das Kommentarfeld im Firefox komisch war. Abbrechen Button finde ich ok so. Bekommen wir das heute noch in den Master?

[2016-06-09 05:23] FabiApfelkern commented on #143
It's fixed!

[2016-06-09 05:23] #143 closed

[2016-11-02 09:58] IvenZ opened #156 "Media Notification"
Durch den Ausbau des Media-Okösystems (Folder/Suche) sollte beim Erstellen/Hochladen von neuen Medien ebenfalls eine Notification an die Gruppenmitglieder geschickt werden.